<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">Nome/Fazenda</label>
    </mdb-form-control>

    <mdb-form-control>
        <select class="form-select form-select-sm mb-3" aria-label="Default select example">
            <option selected>Proponente</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </mdb-form-control>

    <mdb-form-control>
        <select class="form-select form-select-sm mb-3" aria-label="Default select example">
            <option selected>Cadeia de Valor</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </mdb-form-control>

    <div class="mb-3 mt-2 d-flex select-group">
        <select class="form-select form-select-sm" >
            <option>Província</option>
            <option>Luanda</option>
            <option>Namibe</option>
            <option>Malange</option>
        </select>

        <select class="form-select form-select-sm" >
            <option>Município</option>
            <option>muni1</option>
            <option>muni2</option>
            <option>muni3</option>
        </select>

        <select class="form-select form-select-sm" >
            <option>Aldeia</option>
            <option>Ald1</option>
            <option>Ald2</option>
            <option>Ald3</option>
        </select>
    </div>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">PN em Elaboação</label>
    </mdb-form-control>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">PN Elaborado</label>
    </mdb-form-control>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">Foi Avaliado</label>
    </mdb-form-control>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">Condição</label>
    </mdb-form-control>

    <div class="d-flex justify-content-between mb-3">
        <mdb-form-control class="d-block" style="width: 200px;">
            <input mdbInput type="text" id="form1" class="form-control mb-3" style="height:28px;" />
            <label mdbLabel class="form-label" for="form1">Área total da Fazenda</label>
        </mdb-form-control>

        <mdb-form-control class="d-block" style="width: 200px;">
            <input mdbInput type="text" id="form1" class="form-control mb-3" style="height:28px;" />
            <label mdbLabel class="form-label" for="form1">Área de Cultivo PN</label>
        </mdb-form-control>
    </div>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" style="height:70px;" />
        <label mdbLabel class="form-label" for="form1">Observações</label>
    </mdb-form-control>

    <div class="d-flex justify-content-between mb-3">

        <div class="m-2 d-flex">
            <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Custo Total Projecto</label>
            </mdb-form-control>
            <select class=""
                style=" height:50px; width: 50px; border-radius: 8%; background: #262626; border-color: #DFDFDF; color: #DFDFDF;">
                <option>KZ</option>
                <option>USD</option>
            </select>
        </div>

        <div class="m-2 d-flex">
            <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Empréstimo Bancário</label>
            </mdb-form-control>
            <select class=""
                style=" height:50px; width: 50px; border-radius: 8%; background: #262626; border-color: #DFDFDF; color: #DFDFDF;">
                <option>KZ</option>
                <option>USD</option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-3">

        <div class="m-2 d-flex">
            <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Financiamento PDAC</label>
            </mdb-form-control>
            <select class=""
                style=" height:50px; width: 50px; border-radius: 8%; background: #262626; border-color: #DFDFDF; color: #DFDFDF;">
                <option>KZ</option>
                <option>USD</option>
            </select>
        </div>

        <div class="m-2 d-flex">
            <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Recursos Próprios</label>
            </mdb-form-control>
            <select class=""
                style=" height:50px; width: 50px; border-radius: 8%; background: #262626; border-color: #DFDFDF; color: #DFDFDF;">
                <option>KZ</option>
                <option>USD</option>
            </select>
        </div>
    </div>

    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-3" />
        <label mdbLabel class="form-label" for="form1">Estatuto</label>
    </mdb-form-control>

    <div class="d-flex justify-content-between mb-2">
        <mdb-form-control class="d-block" style="width: 200px;">
            <input mdbInput type="text" id="form1" class="form-control mb-3" style="height:28px;" />
            <label mdbLabel class="form-label" for="form1">Latitude</label>
        </mdb-form-control>

        <mdb-form-control class="d-block" style="width: 200px;">
            <input mdbInput type="text" id="form1" class="form-control mb-3" style="height:28px;" />
            <label mdbLabel class="form-label" for="form1">Logitude</label>
        </mdb-form-control>
    </div>


</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-success btn-sm">Guardar</button>
    <button type="button" class="btn btn-black btn-sm" (click)="modalRef.close()">Fechar</button>

</div>