


<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="m-3">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-card mb-1 w-75">
                        <div class="card-title">
                            <h6>Acordo de Proponente</h6>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <input class="form-control form-control-sm" type="text" [(ngModel)]="agreement_name"
                                    name="agreement_name" />
                            </div>
                            <div class="form-floating mb-3 ">
                                <textarea class="form-control" placeholder="Comente aqui" [(ngModel)]="observations"
                                    name="observation" id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Observações</label>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-success btn-sm" (click)="salvarStatus()">Guardar</button>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <div class="card text-white mb-3">
                        <table class="table align-middle text-black text-center table-hover table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Acordo</th>
                                    <th scope="col">Observações</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Apagar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of acordos  | myfilter:'proposer_id': proposer_id">
                                    <td>{{item.id}}</td>
                                    <td>{{item.created_at | date:"dd/MM/yyyy"}}</td>
                                    <td>{{item.agreement_name}}</td>
                                    <td>{{item.observations}}</td>
                                    <td> <button type="button" class="btn btn-link btn-sm btn-rounded">
                                            <i class="fas fa-pen"></i>
                                        </button></td>
                                    <td> <button type="button" (click)="deleteAcordos(item.id)"
                                            class="btn btn-link btn-sm btn-rounded">
                                            <i class="fas fa-trash-alt" style="color: red;"></i>
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
        </div>

    </mat-drawer-content>

</mat-drawer-container>