<mat-drawer-container>
    <!-- Sidenav and sidebar-->
    <mat-drawer class="sidenav" mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- Sidenav and sidebar-->


    <!-- Dashboard full content-->
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
        <router-outlet></router-outlet>

        <!-- Cadeia de valores e gráfico de users-->
        <div class="row mb-3 cards1" style="margin-left: 4%; margin-right: 4%;">
            <!--div class="col-4">
                <div class="card h-100 vch">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <h5 class="card-title-card text-black mb-1 ">Cadeia de Valor</h5>
                        </div>
                        <div class="justify-content-center">
                            <div id="cadeiaValorChart" style="width:65%; height: 300%;"></div>
                        </div>
                    </div>
                </div>
            </!--div-->

            <div class="col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title-card text-black mb-4">M. Interesse</h5>
                                <h5 class="card-title text-center text-black mb-4" style="font-weight: bold;">Activos
                                </h5>
                                <h3 class="card-title text-center mb-6" style="font-size: 35px; color:#2CBF04;">
                                    {{prop.length}}
                                </h3>
                            </div>
                            <div class="col-6">
                                <h5 class="card-title text-black mb-4 d-flex justify-content-between px-md-1"><a
                                        class="text-white">.</a><i class="fas fa-ellipsis-h d-none"></i></h5>
                                <h5 class="card-title text-center text-black mb-4" style="font-weight: bold;">Total</h5>
                                <h3 class="card-title text-center mb-6" style="font-size: 35px; color:black;">
                                    {{prop.length}} </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cadeia de valores e gráico de users-->

        <!-- Instituições / Departamentos / Manifestação de interesses-->
        <div class="row mb-3 " style="margin-left: 4%; margin-right: 4%;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title card-title-card mb-4">Inquéritos</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{inqueritos.length}}</h3>
                                <div>
                                    <div id="inqueritosChart" style="width:100%; height: 250%;"></div>
                                </div>
                            </div>
                            <!--div class="col-4 div-border">
                                <h5 class="card-title card-title-card mb-4">Departamentos</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{departamento.length}}</h3>
                            </!--div-->
                            <div class="col-6 div-border">
                                <h5 class="card-title card-title-card mb-4">Back Office</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{interestExpress.length}} </h3>
                                <div>
                                    <div id="interessesChart" style="width:65%; height: 300%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 mt-4" style="margin-left: 4%; margin-right: 4%;">


            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified mb-3" id="ex-with-icons" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex-with-icons-tab-1" (click)="showTab(1)" role="tab"
                        aria-controls="ex-with-icons-tabs-1" [class.active]="activeTab === 1"><i
                            class="fas fa-chart-line fa-fw me-2"></i>Progressos e metas</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex-with-icons-tab-2" (click)="showTab(2)" role="tab"
                        aria-controls="ex-with-icons-tabs-2" [class.active]="activeTab === 2"><i
                            class="fas fa-chart-pie fa-fw me-2"></i>MI recebidas</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex-with-icons-tab-4" (click)="showTab(4)" role="tab"
                        aria-controls="ex-with-icons-tabs-4" [class.active]="activeTab === 4"><i
                            class="fas fa-file-signature fa-fw me-2"></i>Inquéritos Feitos</a>
                </li>

                <!--li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex-with-icons-tab-5" (click)="showTab(5)" role="tab"
                        aria-controls="ex-with-icons-tabs-5" [class.active]="activeTab === 5"><i
                            class="fas fa-chart-pie fa-fw me-2"></i>Tipo de PN desembolsados</a>
                </!--li-->

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex-with-icons-tab-3" (click)="showTab(3)" role="tab"
                        aria-controls="ex-with-icons-tabs-3" [class.active]="activeTab === 3"><i
                            class="fas fa-seedling me-2"></i>PN desembolsados</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex-with-icons-content">
                <div class="tab-pane fade show" id="ex-with-icons-tabs-1" role="tabpanel"
                    aria-labelledby="ex-with-icons-tab-1" [class.active]="activeTab === 1">
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Progresso nas metas de produção de PN do
                                Projecto
                            </h5>
                        </div>
                    </div>

                    <!-- 1. Tabela - progresso nas metas de produção de PN do projecto -->
                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <!-- ... Cabeçalho da tabela ... -->
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Ano</th>
                                    <th scope="col" class="text-black">Metas</th>
                                    <th scope="col" class="text-black">Elaborado</th>
                                    <th scope="col" class="text-black">Grau de Cumprimento</th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- Linhas da tabela com os dados -->
                                <tr *ngFor="let item of metas_de_producaode_pn_do_projecto">
                                    <td>{{ item.ano_numerico }}</td>
                                    <td>{{ item.metas }}</td>
                                    <td>{{ item.realizado }}</td>
                                    <td>
                                        <span [ngClass]="{
                                    'text-success': calcularPorcentagem(item.metas, item.realizado) > 10,
                                    'text-danger': calcularPorcentagem(item.metas, item.realizado) <= 10
                                  }">
                                            <i class="fas me-1" [ngClass]="{
                                      'fa-caret-up': calcularPorcentagem(item.metas, item.realizado) > 10,
                                      'fa-caret-down': calcularPorcentagem(item.metas, item.realizado) <= 10
                                    }"></i>
                                            <span>{{ calcularPorcentagem(item.metas, item.realizado) }}%</span>
                                        </span>
                                    </td>

                                </tr>

                                <!--td (click)="Delete_Progress_PN(item.id)">remove</!--td-->

                                <!-- Linha fixa para exibir o total -->
                                <tr class="text-black" style="font-weight: bold;">
                                    <td>Total</td>
                                    <td>{{ calcularTotal('metas') }}</td>
                                    <td>{{ calcularTotal('realizado') }}</td>
                                    <td>
                                        <span>{{ calcularPorcentagem(calcularTotal('metas'), calcularTotal('realizado'))
                                            }}%</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- 2. Tabela - progresso nas metas de produção de PGAS do projecto” (as metas são as mesmas -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Progresso nas metas de produção de PGAS do
                                projecto</h5>
                        </div>
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Ano</th>
                                    <th scope="col" class="text-black">Metas</th>
                                    <th scope="col" class="text-black">Elaborado</th>
                                    <th scope="col" class="text-black">Grau de Cumprimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Linhas da tabela com os dados -->
                                <tr *ngFor="let item of metas_de_producaode_PGAS_do_projecto">
                                    <td>{{ item.ano_numerico }}</td>
                                    <td>{{ item.metas }}</td>
                                    <td>{{ item.realizado }}</td>
                                    <td>
                                        <span [ngClass]="{
                                            'text-success': calcularPorcentagem(item.metas, item.realizado) > 10,
                                            'text-danger': calcularPorcentagem(item.metas, item.realizado) <= 10
                                        }">
                                            <i class="fas me-1" [ngClass]="{
                                                'fa-caret-up': calcularPorcentagem(item.metas, item.realizado) > 10,
                                                'fa-caret-down': calcularPorcentagem(item.metas, item.realizado) <= 10
                                                }"></i>
                                            <span>{{ calcularPorcentagem(item.metas, item.realizado) }}%</span>
                                        </span>
                                    </td>
                                </tr>

                                <!-- Linha fixa para exibir o total -->
                                <tr class="text-black" style="font-weight: bold;">
                                    <td>Total</td>
                                    <td>{{ calcularTotal_PGAS('metas') }}</td>
                                    <td>{{ calcularTotal_PGAS('realizado') }}</td>
                                    <td>
                                        <!-- Calcula o total das porcentagens das colunas "Metas" e "Realizado" -->
                                        <span>{{ calcularPorcentagem(calcularTotal_PGAS('metas'),
                                            calcularTotal_PGAS('realizado'))
                                            }}%</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="tab-pane fade show" id="ex-with-icons-tabs-2" role="tabpanel"
                    aria-labelledby="ex-with-icons-tab-2" [class.active]="activeTab === 2">


                    <!-- 3. Tabela - MI Recebidas do PDAC – [periodo selecionado] -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">MI Recebidas do PDAC</h5>
                        </div>

                        <!--div class="mb-3">
                            <input class="form-control form-control-sm" placeholder="Pesquisar estado..." [(ngModel)]="keyWord"
                                type="text" style="width: 300px;">
                        </!--div-->
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Estado</th>
                                    <th scope="col" class="text-black">Bié</th>
                                    <th scope="col" class="text-black">Huambo</th>
                                    <th scope="col" class="text-black">Huíla</th>
                                    <th scope="col" class="text-black">Cuanza Sul</th>
                                    <th scope="col" class="text-black">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Linhas da tabela -->
                                <tr *ngFor="let status of statusList">
                                    <td><span [ngClass]="getStatusBadgeClass(status)">{{status}}</span></td>
                                    <td><span class="text-success">{{getStatusCountByProvincia(status, 'Bié')}}</span>
                                    </td>
                                    <td><span class="text-success">{{getStatusCountByProvincia(status,'Huambo')}}</span>
                                    </td>
                                    <td><span class="text-success">{{getStatusCountByProvincia(status, 'Huila')}}</span>
                                    </td>
                                    <td><span class="text-success">{{getStatusCountByProvincia(status,
                                            'Cuanza Sul')}}</span>
                                    </td>
                                    <!-- Total de cada status em todas as províncias -->
                                    <td><span class="text-success">{{
                                            getStatusCountByProvincia(status, 'Bié') +
                                            getStatusCountByProvincia(status, 'Huambo') +
                                            getStatusCountByProvincia(status, 'Huila') +
                                            getStatusCountByProvincia(status, 'Cuanza Sul')
                                            }}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="table-active">
                                    <td class="text-black" ><strong>Total Geral</strong></td>
                                    <td class="text-success"><strong>{{ getTotalByProvincia('Bié') }}</strong></td>
                                    <td class="text-success"><strong>{{ getTotalByProvincia('Huambo') }}</strong></td>
                                    <td class="text-success"><strong>{{ getTotalByProvincia('Huila') }}</strong></td>
                                    <td class="text-success"><strong>{{ getTotalByProvincia('Cuanza Sul') }}</strong>
                                    </td>
                                    <td class="text-success"><strong>{{ getTotalGeral() }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- 4 - Status das MI recebidas – [periodo] -->
                    <div class="d-flex justify-content-between mx-auto mt-3">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Status das MI recebidas</h5>
                        </div>
                    </div>

                    <div class="justify-content-center mt-3">
                        <div id="getStatusMI" style="width: 100%; height: 500px;"></div>
                    </div>


                </div>

                <div class="tab-pane fade show" id="ex-with-icons-tabs-4" role="tabpanel"
                    aria-labelledby="ex-with-icons-tab-4" [class.active]="activeTab === 4">

                    <!-- 5. Inquéritos feitos – [periodo selecionada]” (= o n° de inquéritos dos quais a data de entregue esta no
                    periodo selecionado) -->

                    <div class="d-flex justify-content-between mx-auto mt-3">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Inquéritos feitos</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio" name="data_inicio" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim" name="data_fim" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button (click)="post_Inquerittos_feitos()" class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button (click)="limpar_0()" class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>

                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Províncias</th>
                                    <th scope="col" class="text-black">Inquéritos elaborados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="inqueritos_feitos && inqueritos_feitos['Cuanza Sul'] !== undefined">
                                    <td>Cuanza Sul</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{inqueritos_feitos['Cuanza Sul'] ? inqueritos_feitos['Cuanza Sul'] :
                                                'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="inqueritos_feitos?.Huambo">
                                    <td>Huambo</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{inqueritos_feitos?.Huambo ?
                                                inqueritos_feitos?.Huambo : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="inqueritos_feitos && inqueritos_feitos['Bié']  !== undefined">
                                    <td>Bié</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{inqueritos_feitos['Bié']
                                                ? inqueritos_feitos['Bié'] : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="inqueritos_feitos?.Huila">
                                    <td>Huíla</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{inqueritos_feitos?.Huila ?
                                                inqueritos_feitos?.Huila : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <!--tr>
                                    <td> <span class="text-black">Total Geral</span>
                                    </td>
                                    <td><span class="text-success">
                                            <span>{{inqueritos_feitos['Total']}}</span>
                                        </span>
                                    </td>
                                </!--tr-->
                            </tbody>
                        </table>
                    </div>


                    <!-- PN elaborados – [periodo selecionado]” (= o n° de PN dos quais a data de entregue esta no periodo selecionado)-->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">PN elaborados</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio_pn">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio_pn" name="data_inicio_pn"
                                    style="width: 140px;" class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim_pn">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim_pn" name="data_fim_pn" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button (click)="post_PN_elaborados()" class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button (click)="limpar_1()" class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Províncias</th>
                                    <th scope="col" class="text-black">PN Elaborados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="pn_elaborados && pn_elaborados['Cuanza Sul'] !== undefined">
                                    <td>Cuanza Sul</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{pn_elaborados['Cuanza Sul'] ? pn_elaborados['Cuanza Sul'] :
                                                'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="pn_elaborados?.Huambo">
                                    <td>Huambo</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{pn_elaborados?.Huambo ?
                                                pn_elaborados?.Huambo : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="pn_elaborados && pn_elaborados['Bié']  !== undefined">
                                    <td>Bié</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{pn_elaborados['Bié']
                                                ? pn_elaborados['Bié'] : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="pn_elaborados?.Huila">
                                    <td>Huíla</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{pn_elaborados?.Huila ?
                                                pn_elaborados?.Huila : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr *ngIf="pn_elaborados && pn_elaborados['Total'] !== undefined">
                                    <td> <span class="text-black">Total Geral</span>
                                    </td>
                                    <td><span class="text-success">
                                            <span>{{pn_elaborados['Total']}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- “FTAS elaborados – [periodo selecionado]” (= o n° de PN (sim PN, é os mesmos numéros que as FTAS) dos quais a data de entregue esta no periodo selecionado)-->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">FTAS elaborados</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio_ftas">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio_ftas" name="data_inicio_ftas"
                                    style="width: 140px;" class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim_ftas">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim_ftas" name="data_fim_ftas"
                                    style="width: 140px;" class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button (click)="post_FTAS()" class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button (click)="limpar_2()" class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Províncias</th>
                                    <th scope="col" class="text-black">FTAS Elaborados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="ftas && ftas['Cuanza Sul'] !== undefined">
                                    <td>Cuanza Sul</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{ftas['Cuanza Sul'] ? ftas['Cuanza Sul'] :
                                                'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="ftas?.Huambo">
                                    <td>Huambo</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{ftas?.Huambo ?
                                                ftas?.Huambo : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="ftas && ftas['Bié']  !== undefined">
                                    <td>Bié</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{ftas['Bié']
                                                ? ftas['Bié'] : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngIf="ftas?.Huila">
                                    <td>Huíla</td>
                                    <td>
                                        <span class="text-success">
                                            <span>{{ftas?.Huila ?
                                                ftas?.Huila : 'Não encontrado'}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr *ngIf="ftas && ftas['Total'] !== undefined">
                                    <td> <span class="text-black">Total Geral</span>
                                    </td>
                                    <td><span class="text-success">
                                            <span>{{ftas['Total']}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 9. “Consultas publicas feitas – [periodo selecionado]” -->
                    <!--div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Consultas públicas feitas</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio" name="data_inicio" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim" name="data_fim" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>
                    </!--div-->

                    <!--div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Províncias</th>
                                    <th scope="col" class="text-black">Nº</th>
                                    <th scope="col" class="text-black">Participantes (Total)</th>
                                    <th scope="col" class="text-black">Homens</th>
                                    <th scope="col" class="text-black">Mulheres</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cuanza Sul</td>
                                    <td>
                                        <span class="text-success">
                                            <span>7</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>5</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>3</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>3</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>Huambo</td>
                                    <td>
                                        <span class="text-success">
                                            <span>7</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>5</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>3</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>4</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>Bié</td>
                                    <td>
                                        <span class="text-success">
                                            <span>7</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>5</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>6</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-success">
                                            <span>3</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td> <span class="text-black">Total Geral</span>
                                    </td>
                                    <td><span class="text-success">
                                            <span></span>
                                        </span>
                                    </td>
                                    <td><span class="text-success">
                                            <span></span>
                                        </span>
                                    </td>
                                    <td><span class="text-success">
                                            <span></span>
                                        </span>
                                    </td>
                                    <td><span class="text-success">
                                            <span></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div-->

                    <!-- 10. PN analisados pelo CTI – [periodo selecionado]” ( = lista de todos PN que têm uma data de analise CTI(pergunta 20) no periodo selecionado) -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">PN analisados pelo CTI</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio_pn_cti">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio_pn_cti" name="data_inicio_pn_cti"
                                    style="width: 140px;" class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim_pn_cti">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim_pn_cti" name="data_fim_pn_cti"
                                    style="width: 140px;" class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button (click)="post_PN_by_Cti()" class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button (click)="limpar_3()" class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Data do CTI</th>
                                    <th scope="col" class="text-black">Fazenda/Nome Simplificado</th>
                                    <th scope="col" class="text-black">Proponente</th>
                                    <th scope="col" class="text-black">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Iterate over the keys of PN_by_CTI.resultados_por_data_cti -->
                                <tr *ngFor="let data of getPNDataKeys()">
                                    <td>{{ data }}</td>
                                    <td>
                                        <!-- Iterate over the resultados for the current date -->
                                        <div *ngFor="let resultado of getResultadosForData(data)">{{
                                            resultado.nome_simplificado }}</div>
                                    </td>
                                    <td>
                                        <!-- Iterate over the resultados for the current date -->
                                        <div *ngFor="let resultado of getResultadosForData(data)">{{
                                            resultado.inqueridor }}</div>
                                    </td>
                                    <td>
                                        {{ getTotalForData(data) }}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr *ngIf="PN_by_CTI && PN_by_CTI.total_por_data_cti !== undefined">
                                    <td class="text-center" colspan="1"><strong>Total Geral</strong></td>
                                    <td colspan="2"></td>
                                    <td class="text-center" colspan="1"><strong>{{ PN_by_CTI.total_por_data_cti
                                            }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>




                    <!--div class="tab-pane fade show" id="ex-with-icons-tabs-5" role="tabpanel"
                    aria-labelledby="ex-with-icons-tab-5" [class.active]="activeTab === 5">
                    Tab 5 content
                    </!--div-->



                </div>

                <div class="tab-pane fade show" id="ex-with-icons-tabs-3" role="tabpanel"
                    aria-labelledby="ex-with-icons-tab-3" [class.active]="activeTab === 3">

                    <!-- 11. Tipo de PN desembolsados” Percentagem de cada reposta à pergunta 11.2 -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Tipo de PN desembolsados</h5>
                        </div>
                    </div>

                    <div class="mb-4 image-container d-flex">
                        <div>
                            <img src="assets/img/products.png" alt="Imagem 1">
                            <span
                                [ngClass]="{'text-danger': tipo_pn_desenbolsado['Productor vegetais'] < 10, 'text-success': tipo_pn_desenbolsado['Productor vegetais'] >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_pn_desenbolsado['Productor vegetais'] < 10, 'fa-caret-up': tipo_pn_desenbolsado['Productor vegetais'] >= 10}"></i>
                                <span>{{ tipo_pn_desenbolsado['Productor vegetais'] ? tipo_pn_desenbolsado['Productor vegetais'] : 0 | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                        <div>
                            <img src="assets/img/galinha.png" alt="Imagem 2">
                            <span
                                [ngClass]="{'text-danger': tipo_pn_desenbolsado['Productor aves'] < 10, 'text-success': tipo_pn_desenbolsado['Productor aves'] >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_pn_desenbolsado['Productor aves'] < 10, 'fa-caret-up': tipo_pn_desenbolsado['Productor aves'] >= 10}"></i>
                                <span>{{ tipo_pn_desenbolsado['Productor aves'] ? tipo_pn_desenbolsado['Productor aves'] : 0 | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                        <div>
                            <img src="assets/img/factory2.png" alt="Imagem 3">
                            <span
                                [ngClass]="{'text-danger': tipo_pn_desenbolsado['Transformador'] < 10, 'text-success': tipo_pn_desenbolsado['Transformador'] >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_pn_desenbolsado['Transformador'] < 10, 'fa-caret-up': tipo_pn_desenbolsado['Transformador'] >= 10}"></i>
                                <span>{{ tipo_pn_desenbolsado['Transformador'] ? tipo_pn_desenbolsado['Transformador'] : 0 | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                        <div>
                            <img src="assets/img/transp2.png" alt="Imagem 4">
                            <span
                            [ngClass]="{'text-danger': tipo_pn_desenbolsado['Distribuidor'] < 10, 'text-success': tipo_pn_desenbolsado['Distribuidor'] >= 10}">
                            <i class="fas me-1"
                                [ngClass]="{'fa-caret-down': tipo_pn_desenbolsado['Distribuidor'] < 10, 'fa-caret-up': tipo_pn_desenbolsado['Distribuidor'] >= 10}"></i>
                            <span>{{ tipo_pn_desenbolsado['Distribuidor'] ? tipo_pn_desenbolsado['Distribuidor'] : 0 | number: '1.1-1' }} %</span>
                        </span>
                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- 12. “Tipo de produções” Percentagem de reposta à pergunta 11.2.1 por grupo :
                    - Grao e/ou tuberculos
                    - Café
                    - café e turberculos e/ou graos -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Tipo de produções</h5>
                        </div>
                    </div>

                    <div class="mb-4 image-container d-flex">
                        <div>
                            <img src="assets/img/sweet-potato_8907579.png" alt="Imagem 2">
                            <span
                                [ngClass]="{'text-danger': tipo_prod.Tuberculos < 10, 'text-success': tipo_prod.Tuberculos >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_prod.Tuberculos < 10, 'fa-caret-up': tipo_prod.Tuberculos >= 10}"></i>
                                <span>{{ tipo_prod.Tuberculos | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                        <div>
                            <img src="assets/img/coffee-beans_3219300.png" alt="Imagem 1">
                            <span
                                [ngClass]="{'text-danger': tipo_prod['Café'] < 10, 'text-success': tipo_prod['Café'] >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_prod['Café'] < 10, 'fa-caret-up': tipo_prod['Café'] >= 10}"></i>
                                <span>{{ tipo_prod['Café'] | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                        <div>
                            <img src="assets/img/corn_5990564.png" alt="Imagem 3">
                            <span
                                [ngClass]="{'text-danger': tipo_prod['Grãos'] < 10, 'text-success': tipo_prod['Grãos'] >= 10}">
                                <i class="fas me-1"
                                    [ngClass]="{'fa-caret-down': tipo_prod['Grãos'] < 10, 'fa-caret-up': tipo_prod['Grãos'] >= 10}"></i>
                                <span>{{ tipo_prod['Grãos'] | number: '1.1-1' }} %</span>
                            </span>
                        </div>
                    </div>


                    <br>
                    <br>
                    <!-- 13. “Plano de négocio desembolsados – [periodo]” : tabela/lista de todos PN dos quais a data de implementação (pergunta 26) esta no periodo selecionado -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Plano de négocio desembolsados</h5>
                        </div>

                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <label for="data_inicio_pn_desenbolsado">Data Início:</label>
                                <input type="date" [(ngModel)]="data_inicio_pn_desenbolsado" name="data_inicio_pn_desenbolsado" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <label for="data_fim_pn_desenbolsado">Data Fim:</label>
                                <input type="date" [(ngModel)]="data_fim_pn_desenbolsado" name="data_fim_pn_desenbolsado" style="width: 140px;"
                                    class="form-control form-control-sm me-2">
                            </div>

                            <div>
                                <button  (click)="post_PN_Desenbolsado()" class="btn btn-success btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Consultar</button>
                                <button (click)="limparArray(pn_desenbolsado)" class="btn btn-danger btn-sm me-2"
                                    style="width: 140px; margin-top: 6%;">Limpar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                                <tr>
                                    <th scope="col" class="text-black">Nome</th>
                                    <th scope="col" class="text-black">Província</th>
                                    <th scope="col" class="text-black">Município</th>
                                    <th scope="col" class="text-black">Tipo de negócio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pn_desenbolsado">
                                    <td>{{item.Nome}}</td>
                                    <td>{{item.Provincia}}</td>
                                    <td>{{devolver_nome_municipio(item['Município'])}}</td>
                                    <td>{{item['Tipo de negocio']}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 14. “Distribuição dos PN Desembolsados por Províncias/Municípios – Cumulativo” (Apresenta por municipioos n° de -->
                    <div class="d-flex justify-content-between mx-auto">
                        <div class="mb-3 esp1">
                            <h5 class="card-title card-title-card text-black">Distribuição dos PN Desembolsados por
                                Províncias/Municípios-Cumulativo</h5>
                        </div>

                    </div>

                    <div class="table-responsive mb-3" id="print-section-list-inquerito">
                        <table class="table table-sm table-hover text-center table-bordered">
                            <thead class="linhas2">
                              <tr class="table-dark">
                                <th scope="col" class="text-white">Província</th>
                                <th scope="col" class="text-white">PN Desenbolsados</th>
                                <th scope="col" class="text-white">%</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let provincia of PN_desenmbolsados_por_provincias">
                                <tr *ngIf="provincia.Provincia"s>
                                  <td class="table-info" >{{ provincia.Provincia }}</td>
                                  <td class="table-info">{{ provincia['PN Desembolsados'] }}</td>
                                  <td class="table-info">
                                   <!-- Verifica se a propriedade % existe e se é uma string antes de usar o método includes -->
                                   <ng-container *ngIf="provincia['%'] !== undefined">
                                    <span class="text-{{ provincia['%'].includes('-') ? 'danger' : 'success' }}">
                                      <i class="fas fa-caret-{{ provincia['%'].includes('-') ? 'down' : 'up' }} me-1"></i>
                                      <span>{{ provincia['%'] }}</span>
                                    </span>
                                  </ng-container>
                                  </td>
                                </tr>
                                <tr *ngFor="let municipio of provincia['Municípios']" >
                                  <td>{{ devolver_nome_municipio(municipio['Município']) }}</td>
                                  <td>{{ municipio['Numero PN Desembolsados'] }}</td>
                                  <td></td>
                                </tr>

                                <!--tr>
                                    <td colspan="2" class="text-end"><strong>Total</strong></td>
                                    <td class="text-start"><strong>{{ calcularTotalMunicipios(provincia) }}</strong></td>
                                  </!--tr-->
                              </ng-container>
                            </tbody>
                          </table>
                          
                    </div>

                    <br>
                    <br>

                    <!-- “Distribuição dos PN Desembolsados – Cumulativo” = Mapa de Angola onde podemos ver a localizaçãode cada fazenda com um PN desembolsado -->
                    <div class="d-flex  mb-3">
                        <div class="mb-3">
                            <h5 class="card-title card-title-card text-black">Distribuição dos PN Desembolsados-Cumulativo</h5>
                        </div>
                    </div>
                    <div id="map" style="width: 100%; height: 500px;"></div>
                </div>

            </div>
            <!-- Tabs content -->




        </div>

    </mat-drawer-content>

</mat-drawer-container>