<mat-drawer-container>
    <!-- Sidenav and sidebar-->
    <mat-drawer class="sidenav" mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- Sidenav and sidebar-->


    <!-- Dashboard full content-->
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
        <router-outlet></router-outlet>

        <!-- Cadeia de valores e gráfico de users-->
        <div class="row mb-3 cards1" style="margin-left: 4%; margin-right: 4%;">
            <div class="col-4">
                <div class="card h-100 vch">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <h5 class="card-title-card text-black mb-1 ">Cadeia de Valor</h5>
                            <!--div ngbDropdown class="d-inline-block">
                                <a class="text-black" ngbDropdownToggle id="dropdownBasic1"></a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button class="text-center fs-5" ngbDropdownItem data-bs-toggle="modal"
                                        href="#exampleModalToggle">Visualizar Gráfico</button>
                                </div>
                            </!--div-->
                        </div>

                        <div id="main" style="width:60%; height: 200%; margin-left: -7%; margin-right: auto;"></div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title-card text-black mb-4">Proponentes</h5>
                                <h5 class="card-title text-center text-black mb-4" style="font-weight: bold;">Activos
                                </h5>
                                <h3 class="card-title text-center mb-6" style="font-size: 35px; color:#2CBF04;">
                                    {{prop.length}}
                                </h3>
                            </div>
                            <div class="col-6">
                                <h5 class="card-title text-black mb-4 d-flex justify-content-between px-md-1"><a
                                        class="text-white">.</a><i class="fas fa-ellipsis-h d-none"></i></h5>
                                <h5 class="card-title text-center text-black mb-4" style="font-weight: bold;">Total</h5>
                                <h3 class="card-title text-center mb-6" style="font-size: 35px; color:black;">
                                    {{prop.length}} </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cadeia de valores e gráico de users-->

        <!-- Instituições / Departamentos / Manifestação de interesses-->
        <div class="row mb-3" style="margin-left: 4%; margin-right: 4%;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title card-title-card mb-4">Inquéritos</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{inqueritos.length}}</h3>
                                <div>
                                    <div id="main2" style="width:50%; height: 250%;"></div>
                                </div>
                            </div>
                            <div class="col-4 div-border">
                                <h5 class="card-title card-title-card mb-4">Departamentos</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{departamento.length}}</h3>
                            </div>
                            <div class="col-4 div-border">
                                <h5 class="card-title card-title-card mb-4">Interesses</h5>
                                <h3 class="card-title text-center" style="font-size: 35px; color:black;">
                                    {{interestExpress.length}} </h3>
                                <div>
                                    <div id="main3" style="width:60%; height: 250%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- >test dinamic chart -->
        <div class="container">
            <div id="yee" style="width:60%; height: 250%;"></div>
        </div>


    </mat-drawer-content>



</mat-drawer-container>

<!--  modal do primeiro gráfico -->
<!--div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="main" style="width:60%; height: 200%; margin-left: -7%; margin-right: auto;"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</!--div-->