<div class="menu-content mb-4">
    <div class="row">
        <div class="col-12">
            <div class="logo py-4">
                <a routerLink="/dashboard" routerLinkActive="router-link-active"><img src="../../../assets/logo_.png"
                        height="50"></a>
            </div>
        </div>
    </div>

    <div class="menu-items mt-4" id="container">
        <div class=" justify-content-between btns ">
            <div class="d-block text-center">
                <button routerLink="/dashboard" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-home fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Dashboard</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/interesses" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-map-signs fa-2x"></i> </button>
                <div><span style="font-size:xx-small; color: black;">Back Office</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns">
            <div class="d-block text-center">
                <button routerLink="/inquerito" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-laptop fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Front Office</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/cadeiadevalor" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-seedling fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Cadeia de valor</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns ">
            <div class="d-block text-center">
                <button routerLink="/proponentes" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-business-time fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">M. interesse</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/pn-elaborados" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-check fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">PN Elaborados</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns">
            <div class="d-block text-center">
                <button routerLink="/departamento" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-sitemap fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Departamento</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/visitas" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-arrow-right-arrow-left fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Visitas</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns">
            <div class="d-block text-center">
                <button routerLink="/pgas" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-chart-pie fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">PGAS</span></div>
            </div>
            <div class="d-block text-center" *ngIf="user?.is_admin === true">
                <button routerLink="/usuario" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-user-alt fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Usuário</span></div>
            </div>
        </div>
        <div class=" justify-content-between btns">
            <div class="d-block text-center">
                <button routerLink="/pn-implementados" routerLinkActive="active" type="button" class="btn"><i
                        class="far fa-circle-check fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">PN Implem.</span></div>
            </div>
        </div>
    </div>
</div>