
.logo{
    text-align: start;
    margin-left: 2.5rem;
    margin-bottom: 3%;
}

.mat-icon{
    vertical-align: center;
}

.btn{
    //height: 60px;
    padding: 15px;
    color: #F2F2F2;
    background-color: #262626;
}

button:hover{
    background: #2CBF04;
}

.btn-toolbar{
    margin-left: 2.5rem;
    color: #F2F2F2;
}

