::ng-deep.ng-select-container {
    border-bottom: 1px solid #ccc !important;
    padding: .25rem .5rem;
    font-size: .875rem;
   // line-height: 1.5;
    border-radius: .2rem;
}

::ng-deep.ng-option-highlighted  {
    background-color: #ccc;
}

::ng-deep.ng-select .ng-dropdown-panel {
    display: block;
    padding-left: .70rem;
    padding-top: .40rem;
  //  line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    //border-radius: .25rem;
    //transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::ng-deep.ng-dropdown-panel .ng-option.ng-option-marked:hover {
    background-color: #ccc;
    /* substitua pela cor desejada para quando o item for passado com o mouse */
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ng-dropdown-panel {
    background-color: #474242; /* Defina a cor cinza desejada */
  }
  

.is-invalid.ng-select-container {
    border-color: red !important;
}

.is-invalid.form-select {
    border-color: red !important;
}

.is-invalid.form-control {
    border-color: red;
}

.my-element {
    float: right;
    //margin-right: 100px;
}

body {
    overflow: hidden;
    /* Hide scrollbars */
}

mat-drawer {
    overflow: hidden;
    width: 270px;
    background: #F2F2F2;
}

mat-drawer-container {
    height: 100%;
}

.list-user-text {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

.btn-top {
    text-transform: capitalize;
    background-color: #2CBF04;
    width: 100%;
}

.linhas1 {
    color: #eaeaea;
    //border-top: 2px solid;
    //border-left: 2px solid;
    //border-right: 2px solid;
    border: 2px solid;

}

.form-check {
    color: #2CBF04;
}


/* Extra small devices (phones, Galaxy Fold 240px and 450px) */
@media (min-width: 240px) and (max-width: 450px) {
    .sidebar {
        display: none;
    }

    mat-drawer {
        width: 150px;
        background: #F2F2F2;
    }

    .btn-toolbar {
        display: block;

        .btn-group {
            width: 100%;
            margin: 3%;
        }
    }

    .userlist {
        margin-left: 5%;
        margin-right: 5%;
    }

    .esp1 {
        display: none;
    }

    .esp {
        display: none;
    }

    .linhas1 {
        display: none;

    }

}

@media (min-width: 451px) and (max-width: 599px) {

    .sidebar {
        display: none;
    }

    mat-drawer {
        width: 150px;
        background: #F2F2F2;
    }

    .btn-toolbar {
        display: block;

        .btn-group {
            width: 100%;
            margin: 3%;
        }
    }

    .userlist {
        margin-left: 5%;
        margin-right: 5%;
    }

    .esp1 {
        display: none;
    }

    .esp {
        display: none;
    }

    .linhas1 {
        display: none;

    }

}

/* Extra small devices (phones, 600px and 768px) */
@media (min-width: 600px) and (max-width: 767px) {

    .sidebar {
        display: none;
    }

    mat-drawer {
        width: 150px;
        background: #F2F2F2;
    }

    .btn-toolbar {
        display: block;

        .btn-group {
            width: 100%;
            margin: 3%;
        }
    }

    .userlist {
        margin-left: 5%;
        margin-right: 5%;
    }

    .esp1 {
        display: flex;
        max-width: 100%;
    }

    .esp {
        display: none;
    }

    .linhas1 {
        display: none;

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        display: none;
    }

    mat-drawer {
        width: 180px;
        background: #F2F2F2;
    }
}

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}