<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- Usuario full content-->
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <!-- User list-->
        <div class="row mt-4" style="margin-left: 10%; margin-right: -9%;">
            <div class="col-4">
                <h5 class="list-user-text text-black mb-4">Lista de Usuários</h5>
            </div>
            <div class="col-8">
                <div class="row justify-content-between px-md-1">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-light text-black"
                                    style="text-transform: capitalize;"><i class="fas fa-print"></i> Imprimir</button>
                            </div>
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light text-black"
                                    style="text-transform: capitalize;">Exportar</button>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-success btn-top"><i
                                        class="fas fa-plus-square text-black"></i> Adicionar
                                    Novo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User list-->
    </mat-drawer-content>
    <!-- Usuario full content-->
</mat-drawer-container>