:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 270px;
    background: #F2F2F2;
}

mat-drawer-container{
    height: 100%;
}

.list-user-text {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

.btn-top{
    text-transform: capitalize;
    background-color: #2CBF04;
    width: 100%;
}

.linhas{
    color: #eaeaea;
    border: 2px solid;
   
}

.form-check{
    color: #2CBF04;
}