<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <div class="mb-3">
        <label class="mb-2">Departamento:</label>
        <select class="form-select form-select-sm mb-3" [(ngModel)]="name" name="departamento" aria-label="Default select example">
            <option *ngFor="let item of departamento" [value]="item">{{item}}</option>
        </select>
    </div>    <div class="form-floating mb-3 ">
        <textarea class="form-control" [(ngModel)]="description" placeholder="Comente aqui" name="observation"
            id="floatingTextarea"></textarea>
        <label for="floatingTextarea" class="text-black">Descrição</label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="SaveDepartamento()">Guardar</button>
</div>
