mat-toolbar{
    position: sticky;
    top:0;
    z-index: 100;
    background: #FAFAFA;
}

ul{
    li{
        list-style-type: none;
    }
}

button{
    border: 0;
    outline: none;
    background: transparent;
}

.user{
    font-size: 14px;
    //display: flex;
}

.user-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-image-icon{
    height: 10px;
    font-size: 16px;
}

::ng-deep{
    .mat-menucontent{
        width: 160px;
    }
}


// search-bar ------------------------------------

.form-control{
    border-color: black;
    border-radius: 100%;
}

.form-control {
  border-color: transparent;
  color: #2CBF04;
}

.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}

.form-control::placeholder {
  color: #262626;
}

.fa-search{
    color: #2CBF04;
}

// search-bar ------------------------------------