mat-toolbar{
    position: sticky;
    top:0;
    z-index: 100;
    background: #FAFAFA;
}

ul{
    li{
        list-style-type: none;
    }
}

button{
    border: 0;
    outline: none;
    background: transparent;
}

.user{
    font-size: 14px;
    //display: flex;
}

.user-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-image-icon{
    height: 10px;
    font-size: 16px;
}

::ng-deep{
    .mat-menucontent{
        width: 160px;
    }
}


// search-bar ------------------------------------

.form-control{
    border-color: black;
    border-radius: 100%;
}

.form-control {
  border-color: transparent;
  color: #2CBF04;
}

.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}

.form-control::placeholder {
  color: #262626;
}

.fa-search{
    color: #2CBF04;
}

// search-bar ------------------------------------



/* Extra small devices (phones, Galaxy Fold 240px and 450px) */
@media (min-width: 240px) and (max-width: 450px) {
   .card{
   display: none;
   }
}

@media (min-width: 451px) and (max-width: 599px) {

    .card{
        display: none;
        }

}

/* Extra small devices (phones, 600px and 768px) */
@media (min-width: 600px) and (max-width: 767px) {

   
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}