<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="row m-2">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        Vizualizar
                    </div>
                    <form enctype="multipart/form-data" [formGroup]="angForm">
                        <!-- Pergunta 1 -->
                        <div class="mb-3 mt-3 d-flex justify-content-between mx-auto mx-auto" style="width: 80%;">
                            <div>
                                <label>Manifestação de Interesse:</label>
                            </div>
                            <div class="my-element" style="margin-left: 10%;">
                                <ng-select class="ng-select" [items]="pdac" bindLabel="s2gp/s2g1q1/prop_nome" [readonly]="true"
                                    bindValue="s2gp/s2g1q1/prop_nome" style="width: 350px;"
                                    formControlName="manifestacao_de_interesse" [searchable]="true" placeholder="">
                                </ng-select>
                            </div>
                        </div>

                        <!-- Pergunta 2 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>M.I Duplicada?</label>
                            </div>
                            <div>
                                <input type="text" readonly [attr.disabled]="true"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                    value="{{inqueritos['duplicada_da'] ? 'Sim' : 'Não'}}">
                            </div>
                        </div>

                        <!-- Pergunta 2.1 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto mx-auto" style="width: 80%;"
                            *ngIf="showDuplicatedInput">
                            <div>
                                <label>Duplicada Com:</label>
                            </div>

                            <div class="my-element" style="margin-left: 10%;">
                                <ng-select style="width:350px;" [items]="duplicateNames" [readonly]="true"
                                    bindLabel="nome_simplificado" formControlName="duplicada_da" [searchable]="true"
                                    placeholder=""></ng-select>
                            </div>
                        </div>

                        <!-- Pergunta 3 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>Didas Teste ?</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" readonly [attr.disabled]="true"
                                        style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                        value="{{inqueritos['didasTeste'] ? 'Sim' : 'Não'}}">
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 4 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Nome simplificado:</label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" style="width:350px;"
                                    class="form-control form-control-sm" formControlName="nome_simplificado" type="text"
                                    required name="nome_simplificado" aria-label=".form-control-sm example">
                            </div>

                        </div>

                        <!-- Pergunta 5 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Inquiridor:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    formControlName="inqueridor" name="inqueridor" style="width:350px;" required
                                    aria-label="Default select example">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of userFrontOff" [value]="item.name">
                                        {{item.name}}</option>
                                </select>

                            </div>
                        </div>


                        <!-- Pergunta 6 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Província:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    id="provincia" name="provincia" required style="width: 350px;"
                                    formControlName="provincia" (change)="carregarMunicipios()">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let prov of provincias" [value]="prov">{{prov}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 7 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Município:</label>

                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" class="form-select form-select-sm" id="municipio"
                                    name="municipio" required style="width: 350px;" formControlName="municipio">
                            </div>

                        </div>

                        <!-- Pergunta 8 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Aldeia:</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" type="text" formControlName="aldeia"
                                    name="aldeia" class="form-control form-control-sm" style="width: 350px;"
                                    id="exampleFormControlInput1" placeholder=""
                                    [ngClass]="{ 'is-invalid': angForm.get('aldeia')?.invalid && angForm.get('aldeia')?.touched }">

                            </div>
                        </div>

                        <!-- Pergunta 9 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label for="data_1_contacto">Data do primeiro contato:</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" type="date" formControlName="data_1_contacto"
                                    name="data_1_contacto" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                    [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                    class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 9.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('data_1_contacto')?.value">
                            <div>
                                <label for="resultado_1_contacto">Resultado do 1º Contacto:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="resultado_1_contacto" name="resultado_1_contacto"
                                    formControlName="resultado_1_contacto" (change)="carregardocs2()">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let prov of resultados_De_Contacto" [value]="prov">{{prov}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="mx-auto d-flex mb-1" style="width: 85%;">
                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'Recusada por falta de documentação legal'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta')?.value }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'Pendente por falta de documento'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_2')?.value }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 10 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'A ser visitada'">
                            <div>
                                <label for="exampleFormControlInput2" class="form-label">Data da
                                    primeira visita:</label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" type="date" formControlName="data_1_visita"
                                    name="data_1_visita" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                    [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                    class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 10.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-1" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'A ser visitada'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Resultado
                                    da Visita:</label>
                            </div>

                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    (change)="carregardocs3()" style="width: 350px;" id="documento_em_falta"
                                    name="resultado_da_visita" formControlName="resultado_da_visita"
                                    [ngClass]="{ 'is-invalid': angForm.get('resultado_da_visita')?.invalid && (angForm.get('resultado_da_visita')?.touched) }">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let mun of resultados_da_visita" [value]="mun">
                                        {{mun}}</option>
                                </select>

                            </div>

                        </div>

                        <div class="mx-auto d-flex mb-1" style="width: 85%;">
                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Recusada por falta de documentação legal'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_3')?.value }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Pendente por falta de documento'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_4')?.value }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 11 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Inquérito em Elaboração'">
                            <div>
                                <label for="exampleFormControlInput2" class="form-label">Data de
                                    entrega do Inquérito ao
                                    Back Office: (Com todos os Documentos)
                                </label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" type="date"
                                    formControlName="data_validacao_inquerito" name="data_validacao_inquerito"
                                    max="{{maxDate | date:'yyyy-MM-dd'}}" [value]="today | date:'yyyy-MM-dd'"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 11.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3 linhas1 p-2" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label class="form-label" for="customFile">Inquérito Preenchido:</label>
                            </div>

                            <div class="d-block">
                                <div style="width: 350px;">
                                    <ul>
                                        <li>
                                            <a [href]="this.angForm.get('inquerito_preenchido')?.value"
                                                target="_blank">{{
                                                this.angForm.get('inquerito_preenchido')?.value
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Pergunta 11.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3 linhas1 p-2" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label class="form-label" for="customFile">Documentos do Proponente:
                                </label>
                            </div>

                            <div class="d-block">
                                <div style="width: 350px;">
                                    <ul>
                                        <li *ngFor="let document of angForm.get('documents')?.value">
                                            <a [href]="document" target="_blank">{{ document }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Pergunta 11.2 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que tipo de
                                    Negócio Está?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    (change)="loadTipoNegocio()" style="width: 350px;" id="que_tipo_de_negocio_esta"
                                    name="que_tipo_de_negocio_esta" formControlName="que_tipo_de_negocio_esta">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_negococio" [value]="item">
                                        {{item}}</option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Productor'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Em qual
                                    cadeia de Valor vai se
                                    implementar o projeto?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" style="width: 350px;"
                                    class="form-select form-select-sm" id="tipodenegocio"
                                    name="em_qual_cadeia_de_valor_vai_se_implementar_o_projecto"
                                    formControlName="em_qual_cadeia_de_valor_vai_se_implementar_o_projecto">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_cadeia_de_valor" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.2 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Agregador'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo" name="que_tipo" formControlName="que_tipo"
                                    [ngClass]="{ 'is-invalid': angForm.get('que_tipo')?.invalid && angForm.get('que_tipo') }">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_agregador" [value]="item">
                                        {{item}}</option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.3 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Transformador'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo_2" name="que_tipo_2"
                                    formControlName="que_tipo_2">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_transformador" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.4 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Prestador de serviços'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo_3" name="que_tipo_3"
                                    formControlName="que_tipo_3">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_prestadores" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>

                        </div>
                    </form>

                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>

</mat-drawer-container>