<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="row m-2">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        Vizualizar
                    </div>
                    <form enctype="multipart/form-data" [formGroup]="angForm">

                        <!-- Pergunta 1 -->
                        <div class="mb-3 mt-3 d-flex justify-content-between mx-auto mx-auto" style="width: 80%;">
                            <div>
                                <label>Manifestação de Interesse:</label>
                            </div>
                            <div class="my-element" style="margin-left: 10%;">
                                <ng-select [items]="pdac" bindLabel="s2gp/s2g1q1/prop_nome" [readonly]="true"
                                    bindValue="s2gp/s2g1q1/prop_nome" style="width: 350px;"
                                    formControlName="manifestacao_de_interesse" [searchable]="true" placeholder="">
                                </ng-select>
                            </div>
                        </div>

                        <!-- Pergunta 2 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>M.I Duplicada?</label>
                            </div>
                            <div>
                                <input type="text" readonly [attr.disabled]="true"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                    formControlName="duplicada_da">
                            </div>
                        </div>

                        <!-- Pergunta 2.1 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto mx-auto" style="width: 80%;"
                            *ngIf="showDuplicatedInput">
                            <div>
                                <label>Duplicada Com:</label>
                            </div>

                            <div class="my-element" style="margin-left: 10%;">
                                <ng-select style="width:350px;" [items]="duplicateNames" [readonly]="true"
                                    bindLabel="nome_simplificado" formControlName="duplicada_da" [searchable]="true"
                                    placeholder=""></ng-select>
                            </div>
                        </div>

                        <!-- Pergunta 3 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>Didas Teste ?</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" readonly [attr.disabled]="true"
                                        style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                        formControlName="didasTeste">
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 4 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Nome simplificado:</label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" style="width:350px;"
                                    class="form-control form-control-sm" formControlName="nome_simplificado" type="text"
                                    required name="nome_simplificado" aria-label=".form-control-sm example">
                            </div>

                        </div>

                        <!-- Pergunta 5 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Inquiridor:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    formControlName="inqueridor" name="inqueridor" style="width:350px;" required
                                    aria-label="Default select example">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of userFrontOff" [value]="item.name">
                                        {{item.name}}</option>
                                </select>

                            </div>
                        </div>


                        <!-- Pergunta 6 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Província:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    id="provincia" name="provincia" required style="width: 350px;"
                                    formControlName="provincia" (change)="carregarMunicipios()">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let prov of provincias" [value]="prov">{{prov}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 7 -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Município:</label>

                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" class="form-select form-select-sm" id="municipio"
                                    name="municipio" required style="width: 350px;" formControlName="municipio">
                            </div>

                        </div>

                        <!-- Pergunta 8 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label>Aldeia:</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" type="text" formControlName="aldeia"
                                    name="aldeia" class="form-control form-control-sm" style="width: 350px;"
                                    id="exampleFormControlInput1" placeholder=""
                                    [ngClass]="{ 'is-invalid': angForm.get('aldeia')?.invalid && angForm.get('aldeia')?.touched }">

                            </div>
                        </div>

                        <!-- Pergunta 9 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="!showDuplicatedInput">
                            <div>
                                <label for="data_1_contacto">Data do primeiro contato:</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" type="date" formControlName="data_1_contacto"
                                    name="data_1_contacto" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                    [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                    class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 9.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('data_1_contacto')?.value">
                            <div>
                                <label for="resultado_1_contacto">Resultado do 1º Contacto:</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="resultado_1_contacto" name="resultado_1_contacto"
                                    formControlName="resultado_1_contacto" (change)="carregardocs2()">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let prov of resultados_De_Contacto" [value]="prov">{{prov}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="mx-auto d-flex mb-1" style="width: 85%;">
                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'Recusada por falta de documentação legal'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta')?.value }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'Pendente por falta de documento'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_2')?.value }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 10 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'A ser visitada'">
                            <div>
                                <label for="exampleFormControlInput2" class="form-label">Data da
                                    primeira visita:</label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" type="date" formControlName="data_1_visita"
                                    name="data_1_visita" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                    [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                    class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 10.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_1_contacto')?.value === 'A ser visitada'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Resultado
                                    da Visita:</label>
                            </div>

                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    (change)="carregardocs3()" style="width: 350px;" id="documento_em_falta"
                                    name="resultado_da_visita" formControlName="resultado_da_visita"
                                    [ngClass]="{ 'is-invalid': angForm.get('resultado_da_visita')?.invalid && (angForm.get('resultado_da_visita')?.touched) }">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let mun of resultados_da_visita" [value]="mun">
                                        {{mun}}</option>
                                </select>

                            </div>

                        </div>

                        <div class="mx-auto d-flex mb-1" style="width: 85%;">
                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Recusada por falta de documentação legal'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_3')?.value }}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 p-3" style="margin-left: auto;"
                                *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Pendente por falta de documento'">
                                <div class="card" style="width: 350px;">
                                    <div class="card-body">
                                        <h4 class="text-black">Documentos em falta:</h4>
                                        {{ this.angForm.get('documento_em_falta_4')?.value }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 11 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('resultado_da_visita')?.value === 'Inquérito em Elaboração'">
                            <div>
                                <label for="exampleFormControlInput2" class="form-label">Data de
                                    entrega do Inquérito ao
                                    Back Office: (Com todos os Documentos)
                                </label>
                            </div>

                            <div>
                                <input readonly [attr.disabled]="true" type="date"
                                    formControlName="data_validacao_inquerito" name="data_validacao_inquerito"
                                    max="{{maxDate | date:'yyyy-MM-dd'}}" [value]="today | date:'yyyy-MM-dd'"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm">

                            </div>
                        </div>

                        <!-- Pergunta 11.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3 linhas1 p-2" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label class="form-label" for="customFile">Inquérito Preenchido:</label>
                            </div>

                            <div class="d-block">
                                <div style="width: 350px;">
                                    <ul>
                                        <li>
                                            <a [href]="this.angForm.get('inquerito_preenchido')?.value"
                                                target="_blank">{{
                                                this.angForm.get('inquerito_preenchido')?.value
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Pergunta 11.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3 linhas1 p-2" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label class="form-label" for="customFile">Documentos do Proponente:
                                </label>
                            </div>

                            <div class="d-block">
                                <div style="width: 350px;">
                                    <ul>
                                        <li *ngFor="let document of angForm.get('documents')?.value">
                                            <a [href]="document" target="_blank">{{ document }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Pergunta 11.2 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('data_validacao_inquerito')?.value">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que tipo de
                                    Negócio Está?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    (change)="loadTipoNegocio()" style="width: 350px;" id="que_tipo_de_negocio_esta"
                                    name="que_tipo_de_negocio_esta" formControlName="que_tipo_de_negocio_esta">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_negococio" [value]="item">
                                        {{item}}</option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.1 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Productor'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Em qual
                                    cadeia de Valor vai se
                                    implementar o projeto?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" style="width: 350px;"
                                    class="form-select form-select-sm" id="tipodenegocio"
                                    name="em_qual_cadeia_de_valor_vai_se_implementar_o_projecto"
                                    formControlName="em_qual_cadeia_de_valor_vai_se_implementar_o_projecto">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_cadeia_de_valor" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.2 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Agregador'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo" name="que_tipo" formControlName="que_tipo"
                                    [ngClass]="{ 'is-invalid': angForm.get('que_tipo')?.invalid && angForm.get('que_tipo') }">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_agregador" [value]="item">
                                        {{item}}</option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.3 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Transformador'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo_2" name="que_tipo_2"
                                    formControlName="que_tipo_2">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_transformador" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <!-- Pergunta 11.2.4 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                            *ngIf="this.angForm.get('que_tipo_de_negocio_esta')?.value === 'Prestador de serviços'">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Que
                                    tipo?</label>
                            </div>
                            <div>
                                <select readonly [attr.disabled]="true" class="form-select form-select-sm"
                                    style="width: 350px;" id="que_tipo_3" name="que_tipo_3"
                                    formControlName="que_tipo_3">
                                    <option value="" disabled selected hidden></option>
                                    <option *ngFor="let item of tipos_de_prestadores" [value]="item">{{item}}
                                    </option>
                                </select>

                            </div>

                        </div>


                        <!--div style="text-align: center;">
                            <span style="background-color: white; padding: 0 5px;">
                                Dados do BackOffice
                            </span>
                        </!--div-->



                        <!-- Pergunta 12 apartir do form backoffice deste inquerito -->
                        <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Consultor PN:</label>
                            </div>
                            <div>
                                <input type="text" readonly [attr.disabled]="true"
                                    value="{{ backoffice_data[0]?.consultor_pn }}" name="consultor_pn"
                                    style="width:350px;" class="form-control form-control-sm">
                            </div>
                        </div>

                        <!-- Pergunta 13 -->
                        <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                            <div>
                                <label for="inicio_elaboracao_pn">Data início de elaboração do
                                    PN:</label>
                            </div>
                            <div>
                                <input type="date" readonly [attr.disabled]="true"
                                    value="{{ backoffice_data[0]?.inicio_elaboracao_pn | date:'yyyy-MM-dd' }}"
                                    name="inicio_elaboracao_pn" style="width:350px;"
                                    class="form-control form-control-sm">
                            </div>
                        </div>


                        <!-- Pergunta 14 -->
                        <div *ngIf="backoffice_data[0]?.inicio_elaboracao_pn"
                            class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                            <div>
                                <label for="fim_elaboracao_pn">Data fim elaboração PN (início de
                                    verificação):</label>
                            </div>
                            <div>
                                <input type="date" readonly [attr.disabled]="true"
                                    value="{{ backoffice_data[0]?.fim_elaboracao_pn | date:'yyyy-MM-dd' }}"
                                    name="fim_elaboracao_pn" style="width: 150px; margin-right: 200px;"
                                    class="form-control form-control-sm">
                            </div>
                        </div>

                        <!-- Pergunta 15 -->
                        <div *ngIf="backoffice_data[0]?.inicio_elaboracao_pn"
                            class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                            <div>
                                <label for="fim_verificacao" style="width: 240px;">Data fim de verificação:</label>
                            </div>
                            <div>
                                <input type="date" readonly [attr.disabled]="true" formControlName="fim_verificacao"
                                    name="fim_verificacao"
                                    value="{{ backoffice_data[0]?.fim_verificacao | date:'yyyy-MM-dd' }}"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm">
                            </div>
                        </div>

                        <!-- Pergunta 15.1 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Área total da fazenda (ha):</label>
                            </div>
                            <div>
                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.area_total_fazenda}}" name="area_total_fazenda"
                                    style="width: 150px; margin-right: 200px;" required type="number" readonly
                                    [attr.disabled]="true">
                            </div>
                        </div>

                        <!-- Pergunta 15.2 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Área de cultivo pelo PN (ha):</label>
                            </div>
                            <div>

                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.area_cultivo_pn}}" name="area_cultivo_pn"
                                    style="width: 150px; margin-right: 200px;" required type="number" readonly
                                    [attr.disabled]="true">
                            </div>
                        </div>

                        <!-- Pergunta 15.3 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label style="width: 240px;">Recursos próprios (AOA):</label>
                            </div>
                            <div>
                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.recursos_proprios }}" name="recursos_proprios"
                                    style="width: 150px; margin-right: 200px;" required type="number" readonly
                                    [attr.disabled]="true">
                            </div>
                        </div>

                        <!-- Pergunta 15.4 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Financiamento PDAC (AOA):</label>
                            </div>
                            <div>
                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.financiamento }}" name="financiamento"
                                    style="width: 150px; margin-right: 200px;" required type="number" readonly
                                    [attr.disabled]="true">
                            </div>
                        </div>

                        <!-- Pergunta 15.5 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Financiamento bancário (AOA):</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.financiamento }}" name="financiamento_bancario"
                                    style="width: 150px; margin-right: 200px;" required type="number">
                            </div>
                        </div>

                        <!-- Pergunta 15.6 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao && angForm.get('que_tipo_de_negocio_esta')?.value === 'Productor'"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Histórico de produção: culturas produzidas no
                                    ano agrícola de há dois anos?</label>
                            </div>
                            <div>
                                <input readonly [attr.disabled]="true" class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.historico_producao_2_anos }}"
                                    name="historico_producao_2_anos" style="width: 150px; margin-right: 200px;" required
                                    type="number">
                            </div>
                        </div>

                        <!-- Pergunta 15.7 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao && backoffice_data[0]?.historico_producao_2_anos"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Área de [cultura] cultivada á dois anos (ha):</label>
                            </div>
                            <div>
                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.area_cultura_2_anos }}" name="area_cultura_2_anos"
                                    style="width: 150px; margin-right: 200px;" required type="number" readonly
                                    [attr.disabled]="true">
                            </div>
                        </div>

                        <!-- Pergunta 15.8 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao && backoffice_data[0]?.historico_producao_2_anos"
                            class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                            <div>
                                <label>Produção de [cultura] obtida á dois anos (ton):</label>
                            </div>
                            <div>

                                <input class="form-control form-control-sm"
                                    value="{{ backoffice_data[0]?.producao_cultura_2_anos }}"
                                    name="producao_cultura_2_anos" style="width: 150px; margin-right: 200px;" required
                                    type="number" readonly [attr.disabled]="true">
                            </div>
                        </div>

                        <div class="mx-auto mb-3 linhas1 p-2" style="width: 80%;">
                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between d-flex mb-3 mt-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Estudo de viabilidade:</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.estudo_de_viabilidade|
                                                slice:0:52 }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Termo de compromisso assinado:</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.termo_compromisso_assinado|
                                                slice:0:52
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Projeto RIV completo:</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.projeto_riv_completo |
                                                slice:0:52}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between  d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">FTAS: </label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.ftas | slice:0:52}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between  d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Lista de trabalhadores
                                        (nome/idade/sexo):</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.lista_de_trabalhadores |
                                                slice:0:52
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between  d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Documentos administrativos:</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.documentos_administrativos
                                                |
                                                slice:0:52
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between  d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Ficheiro .riv: ( .riv
                                        )</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="javascript:void(0);"
                                                style="text-align: left;">{{backoffice_data[0]?.ficheiro_riv |
                                                slice:0:52
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Pergunta 15.8.1 -->
                            <div class="justify-content-between  d-flex mb-3"
                                *ngIf="backoffice_data[0]?.fim_verificacao">
                                <div>
                                    <label class="form-label" for="customFile">Outros documentos (fichas técnicas,
                                        facturas)</label>
                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li *ngFor="let doc of backoffice_data[0]?.outros_documentos">
                                            <a href="javascript:void(0);" style="text-align: left;">{{ doc | slice:0:52
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <!-- Pergunta 16 -->
                        <div *ngIf="backoffice_data[0]?.fim_verificacao"
                            class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                            <div>
                                <label for="data_pn_entregue_ao_pdac">Data PN entregue ao PDAC:</label>
                            </div>
                            <div>
                                <input type="date"
                                    value="{{backoffice_data[0]?.data_pn_entregue_ao_pdac | date:'yyyy-MM-dd'}}"
                                    readonly [attr.disabled]="true" name="data_pn_entregue_ao_pdac"
                                    style="width: 150px; margin-right: 200px;" class="form-control form-control-sm">
                            </div>
                        </div>

                        <!-- Pergunta 17 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>O PN está pendente?</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" name="checkboxOption" readonly [attr.disabled]="true"
                                        style="width: 350px;" class="form-control form-control-sm"
                                        [value]="backoffice_data[0]?.pn_pendente ? 'Sim' : 'Não'">
                                </div>
                            </div>
                        </div>

                        <!-- Pergunta 17.1 -->
                        <div *ngIf="backoffice_data[0]?.pn_pendente" class="mb-3 d-flex justify-content-between mx-auto"
                            style="width: 80%;">
                            <div>
                                <label for="justificacao_pn_pendente">Justificação PN pendente:</label>
                            </div>
                            <div>
                                <textarea value="{{backoffice_data[0]?.justificacao_pn_pendente}}"
                                    name="justificacao_pn_pendente" readonly [attr.disabled]="true"
                                    style="width: 350px;" class="form-control form-control-sm"></textarea>
                            </div>
                        </div>

                        <!-- Pergunta 18 -->
                        <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>O proponente desistiu?</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" name="checkboxOption" readonly [attr.disabled]="true"
                                        style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                        [value]="backoffice_data[0]?.proponente_desistiu ? 'Sim' : 'Não'">
                                </div>
                            </div>

                        </div>

                        <!--div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                            <div>
                                <label>Status PN:</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <input type="text" class="form-control form-control-sm" readonly
                                        [attr.disabled]="true" value="{{backoffice_data[0]?.status_pn}}"
                                        style="width: 150px; margin-right: 200px;">
                                </div>
                            </div>

                        </!--div-->

                    </form>

                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>

</mat-drawer-container>