<div style="background-image: url('../../assets/fundorecpass.jpg');
height: 100vh;
background-repeat: no-repeat;
background-size: cover;">
    <div class="mask cover" style="background-color: rgba(10, 45, 10, 0.88);">
        <div class="row p-5 ">

            <div class="col-12">
                <div class="card text-white bg-card mb-1 w-50">
                    <div class="card-title">
                        <h6>Progresso da Manifestação de Interesse</h6>
                    </div>
                    <div class="card-body">


                        <div class="col-md-6"></div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>