<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- Man interesses full content-->
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <!-- Man interesses list-->
        <div class="d-flex mt-4 userlist justify-content-between" style="margin-left: 2%; margin-right: 2%;">
            <div class=" esp1">
                <h5 class="list-user-text text-black mb-4">Back Office</h5>
            </div>

            <div class=" justify-content-between px-md-1">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <button type="button" printSectionId="print-section-list-interest" ngxPrint
                            printTitle="Manisfestação de Interesse" class="btn btn-light text-black"
                            styleSheetFile="assets/print.scss" [useExistingCss]="true" class="btn btn-light text-black"
                            style="text-transform: capitalize;"><i class="fas fa-print"></i> Imprimir</button>
                    </div>
                    <!--div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-light text-black"
                            style="text-transform: capitalize;">Exportar</button>
                    </!--div-->
                    <div class="btn-group btn-group-sm" role="group" aria-label="Third group" *ngIf="
                    this.user_logged.department === 'Back Off' || this.user_logged.is_admin === true">
                        <!--button type="button" class="btn btn-success btn-top" (click)="openModal()"><i
                                class="fas fa-plus-square text-black"></i> Add Back Off
                        </!--button--> <!--button data-bs-toggle="modal" href="#exampleModalToggle" type="button"
                            data-bs-target="#exampleModalToggle" class="btn btn-success btn-top"><i
                                class="fas fa-plus-square text-black"></i> Add Back Office</button-->

                        <!-- Botão para abrir o modal -->
                        <!--button data-bs-toggle="modal"
                            [attr.data-bs-target]="'#exampleModalToggle' + inqueritoSelecionadoId" type="button"
                            class="btn btn-success btn-top">
                            <i class="fas fa-plus-square text-black"></i> Add
                        </!--button-->

                    </div>
                </div>
            </div>
        </div>
        <!-- fim Man interesses list-->

        <!-- Second section for filtering data -->
        <div class="row mt-3 linhas1 " style="margin-left: 1%; margin-right: 1%; height: 15% auto;">
            <div class="mt-3 mb-3">
                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                    <!--div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button style="text-transform: capitalize;" type="button"
                            class="btn btn-light dropdown-toggle-split" ngbDropdownToggle><i
                                class="fas fa-map-marker-alt"></i> Província </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem *ngFor="let item of provincias" [value]="item.id"
                                (click)="buscar(item.id)"> {{item.name}} </button>
                        </div>
                        <button  type="button" class="btn btn-light" style="text-transform: capitalize;">Buscar</button>
                    </div-->

                    <!--div class="m-1">
                        <select class="form-select form-select-sm select-prov" [(ngModel)]="provincia" name="provincia">
                            <option *ngFor="let item of provincia" [value]="item.id" > {{item.name}} </option>
                        </select>
                        <br>
                        <button (click)="buscar(provincia.id)"type="button" class="btn btn-light" style="text-transform: capitalize;" >Buscar</button>
                    </div-->

                    <!--div-- class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-spa"></i> Fazenda</button>
                    </div-->
                    <!--div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-map-marker-alt"></i> Província</button>
                    </div-->
                    <!--div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-map-pin"></i> Município</button>
                    </!--div-->
                </div>
            </div>

            <!-- Resultado  da pesquisa por provincia-->
            <!--div class="table-responsive" *ngIf="man_Int_por_provincia">
                <table class="table table-sm table-hover text-center">
                    <tbody>
                        <tr *ngFor="let item of man_Int_por_provincia">
                            <td>{{item.farm_name}} </td>
                            <td>{{item.proponent_name}}</td>
                            <td>{{item.province_name}}</td>
                            <td>{{item.county}}</td>
                            <td>{{item.village}}</td>
                            <td>{{item.created_at | date:"dd/MM/yyyy"}}</td>
                            <td>{{item.condition}}</td>
                            <td><button type="button" [routerLink]="['/single-interest/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded">
                                    <i class="far fa-eye"></i>
                                </button>
                            </td>
                            <td> <button type="button" [routerLink]="['/status-pn/', item.id]" routerLinkActive="active"
                                    class="btn btn-link btn-sm btn-rounded">
                                    <i class="far fa-clock"></i>
                                </button></td>

                            <td> <button type="button" [routerLink]="['/estatuto-pn/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded">
                                    <i class="far fa-calendar-check"></i>
                                </button>
                            </td>
                            <td> <button type="button" [routerLink]="['/cadeias/', item.id]" routerLinkActive="active"
                                    class="btn btn-link btn-sm btn-rounded">
                                    <i class="far fa-lemon"></i> </button></td>

                            <td>

                                <button type="button" [routerLink]="['/edit-interest/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </td>
                            <td> <button type="button" class="btn btn-link btn-sm btn-rounded"
                                    (click)="deleteInterest(item.id)">
                                    <i class="fas fa-trash-alt" style="color: red;"></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </!--div-->
        </div>

        <!-- Man-interesse table -->
        <div class=" row mt-3" style="margin-left: 1%; margin-right: 1%;">
            <div class="bm-3">
                <input class="form-control form-control-sm mb-2" placeholder="Pesquisar por nome simplificado..."
                    [(ngModel)]="keyWord" type="text" style="width: 300px;">
            </div>
            <div class="table-responsive" id="print-section-list-interest">
                <table class="table table-sm table-hover text-center">
                    <thead class="linhas2">
                        <tr>
                            <th scope="col" class="text-black">Id</th>
                            <th scope="col" class="text-black">Nome Simplificado</th>
                            <th scope="col" class="text-black">Província</th>
                            <th scope="col" class="text-black">Município</th>
                            <th scope="col" class="text-black">Tipo de Negócio</th>
                            <th scope="col" class="text-black">Estado PN</th>
                            <!--th scope="col" class="text-black">Inquérito preenchido</!--th-->
                            <!--th scope="col" class="text-black">Documentos</!--th-->
                            <th scope="col" class="text-black not-it">Ver</th>
                            <!--th scope="col" class="text-black not-it">Progresso</!--th-->
                            <!--th scope="col" class="text-black not-it">Estatuto</!--th-->
                            <!--th scope="col" class="text-black not-it">Cadeias</!--th-->
                            <th scope="col" class="text-black not-it" *ngIf="
                            this.user_logged.department === 'Back Off' || this.user_logged.is_admin	=== true">Colar
                                info</th>
                            <!--th scope="col" class="text-black not-it">Add Back Office</!--th-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of inqueritos | search:'nome_simplificado':keyWord">
                            <td>{{item.id}} </td>
                            <td>{{item.nome_simplificado}} </td>
                            <td>{{item.provincia}}</td>
                            <td>{{devolver_nome_municipio(item.municipio)}}</td>
                            <td>{{item.que_tipo_de_negocio_esta}}</td>
                            <!--td>{{item.inquerito_preenchido | slice:0:15}}</td>
                            <td>{{item.documents}}</td-->
                            <td>{{item.status}}</td>

                            <!--td>
                                <ul style="list-style-type: none;">
                                    <li>
                                        <a href="javascript:void(0);" (click)="downloadFile(item.inquerito_preenchido)"
                                            style="text-align: left;">{{ item.inquerito_preenchido | slice:0:15 }}</a>
                                    </li>
                                </ul>
                            </td-->

                            <!--td>
                                <ul style="list-style-type: none;">
                                    <li *ngFor="let doc of item.documents">
                                        <a href="javascript:void(0);" (click)="downloadFile(doc)"
                                            style="text-align: left;">{{ doc | slice:0:15 }}</a>
                                    </li>
                                </ul>
                            </td-->

                            <!--td class="not-it"> <button type="button" 
                                routerLinkActive="active" class="btn btn-link btn-sm btn-rounded">
                                <i class="fas fa-file-lines"></i>
                            </button></!--td-->
                            <td class="not-it"><button type="button" (click)="selecionarInquerito(item)"
                                    [routerLink]="['/ver-inquerito-from-backoffice/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded ">
                                    <i class="far fa-eye"></i>
                                </button>
                            </td>


                            <!--td class="not-it"> <button type="button" [routerLink]="['/estatuto-pn/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded ">
                                    <i class="far fa-calendar-check"></i>
                                </button>
                            </!td>
                            <td-- class="not-it"> <button type="button" [routerLink]="['/cadeias/', interest.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded ">
                                    <i class="far fa-lemon"></i> </button></td-->

                            <!--td class="not-it" *ngIf="
                            this.user_logged.department === 'Back Off'">

                                <button type="button" [routerLink]="['/edit-inquerito/', item.id]"
                                    routerLinkActive="active" class="btn btn-link btn-sm btn-rounded ">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </|td-->
                            <td *ngIf="
                            this.user_logged.department === 'Back Off' || this.user_logged.is_admin	=== true "
                                class="not-it"> <button type="button" class="btn btn-link btn-sm btn-rounded"
                                    (click)="selecionarInquerito(item)" data-bs-toggle="modal"
                                    data-bs-target="#exampleModalToggle">
                                    <i class="fas fa-file-lines"></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </mat-drawer-content>
    <!-- Man interesses full content -->
</mat-drawer-container>

<!-- Modal -->
<!--div *ngIf="inqueritoSelecionado" [id]="'exampleModalToggle' + inqueritoSelecionado.id" class="modal" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ inqueritoSelecionado.nome_simplificado }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
                <p>Nome simplificado: {{ inqueritoSelecionado.nome_simplificado }}</p>
                <p>Status: {{ inqueritoSelecionado.status }}</p>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
               
            </div>
        </div>
    </div>
</!--div-->

<!-- Lista de inquéritos -->
<!--table>
    <tbody>
        <tr *ngFor="let item of inqueritos">
            <td>{{item.id}}</td>
            <td>{{item.nome_simplificado}}</td>
            <td>{{item.status}}</td>
            <td>
                <button type="button" class="btn btn-link">
                    Abrir Modal
                </button>
            </td>
        </tr>
    </tbody>
</!--table-->

<!-- Modal -->
<!--div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalToggleLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Detalhes do Inquérito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
            </div>
        </div>
    </div>
</!div-->



<!-- modal -->
<div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Formulário Backoffice</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!--div *ngIf="isLoading" class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </!--div-->
                <form enctype="multipart/form-data" [formGroup]="angForm" (ngSubmit)="enviarFormulario(angForm)">

                    <!--div>
                        <p>ID: {{ inqueritoSelecionado?.id }}</p>
                    <p>Nome Simplificado: {{ inqueritoSelecionado?.nome_simplificado }}</p>
                    <p>Status: {{ inqueritoSelecionado?.status }}</p>
                    <p>tipo negocio: {{inqueritoSelecionado?.que_tipo_de_negocio_esta}} </p>
                    <p>{{inqueritoSelecionado | json }}</p>
                    </!div-->

                    <!-- Pergunta 12 -->
                    <div class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Consultor PN:</label>
                        </div>
                        <div>
                            <select class="form-select form-select-sm" formControlName="consultor_pn"
                                name="consultor_pn" style="width:350px;" required aria-label="Default select example"
                                [ngClass]="{ 'is-invalid': angForm.get('consultor_pn')?.invalid && angForm.get('consultor_pn')?.touched }">
                                <option value="" disabled selected hidden></option>
                                <option *ngFor="let item of userbackOff" [value]="item.name">{{item.name}}</option>
                            </select>
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('consultor_pn')?.invalid && angForm.get('consultor_pn')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </div>

                    <!-- Pergunta 13 -->
                    <div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                        <div>
                            <label for="inicio_elaboracao_pn">Data início de elaboração do
                                PN:</label>
                        </div>
                        <div>
                            <input type="date" formControlName="inicio_elaboracao_pn" name="inicio_elaboracao_pn"
                                max="{{maxDate | date:'yyyy-MM-dd'}}" [value]="today | date:'yyyy-MM-dd'"
                                style="width: 150px; margin-right: 200px;" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': angForm.get('inicio_elaboracao_pn')?.invalid && angForm.get('inicio_elaboracao_pn')?.touched }">
                            <div class="invalid-feedback" style="width: 350px;"
                                *ngIf="angForm.get('inicio_elaboracao_pn')?.invalid && angForm.get('inicio_elaboracao_pn')?.touched">
                                * Campo obrigatório. Pois, e a data não pode ser posterior à data de hoje (não é
                                possível antecipar)
                            </div>
                        </div>
                    </div>

                    <!-- Pergunta 14 -->
                    <div *ngIf="angForm.get('inicio_elaboracao_pn')?.value"
                        class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                        <div>
                            <label for="fim_elaboracao_pn">Data fim elaboração PN (início de
                                verificação):</label>
                        </div>
                        <div>
                            <input type="date" formControlName="fim_elaboracao_pn" (change)="checkDates_1()"
                                name="fim_elaboracao_pn" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                class="form-control form-control-sm">
                        </div>
                    </div>

                    <!-- Pergunta 15 -->
                    <div *ngIf="angForm.get('fim_elaboracao_pn')?.value"
                        class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                        <div>
                            <label for="fim_verificacao" style="width: 240px;">Entregue ao PDAC:</label>
                        </div>
                        <div>
                            <input type="date" formControlName="fim_verificacao" name="fim_verificacao"
                                (change)="checkDates_2()" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                class="form-control form-control-sm">
                        </div>
                    </div>

                    <!-- Pergunta 16 -->
                    <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                        <div>
                            <label>Tipo de financiamento:</label>
                        </div>

                        <div class="d-block" style="margin-right: 225px;">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="checkboxOption_1" [value]="true"
                                    formControlName="financiamento_bancario" (change)="OnFinanciamento('MG')"
                                    [checked]="checado">
                                <label class="legend">MG</label>
                            </div>

                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="checkboxOption_2" [value]="false"
                                    formControlName="financiamento_bancario" (change)="OnFinanciamento('MG e Banco')"
                                    [checked]="!checado">
                                <label class="legend">MG e Banco</label>
                            </div>
                        </div>

                    </div>



                    <!-- Pergunta 18 -->
                    <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                        <div>
                            <label>O PN está pendente?</label>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div style="margin-right: 310px;">
                                <input type="checkbox" name="checkboxOption"
                                    [checked]="angForm.get('pn_pendente')?.value" formControlName="pn_pendente"
                                    (change)="toggleJustificacaoPnPendente()">
                            </div>
                        </div>
                    </div>

                    <!-- Pergunta 18.1 -->
                    <div *ngIf="angForm.get('pn_pendente')?.value" class="mb-3 d-flex justify-content-between mx-auto"
                        style="width: 80%;">
                        <div>
                            <label for="justificacao_pn_pendente">Justificação PN pendente:</label>
                        </div>
                        <div>
                            <textarea formControlName="justificacao_pn_pendente" name="justificacao_pn_pendente"
                                style="width: 350px;" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>

                    <!-- Pergunta 19 -->
                    <div class="mb-3 d-flex justify-content-between mx-auto" style="width: 80%;">
                        <div>
                            <label>O proponente desistiu?</label>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div style="margin-right: 310px;">
                                <input type="checkbox" name="checkboxOption" formControlName="proponente_desistiu"
                                    (change)="toggleProponenteDesistiu()">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer justify-content-between">
                        <input type="submit" name="submit" value="Guardar" class="btn btn-success btn-sm">
                        <div>
                            <!--button 
                                (click)="get_data_from_inquerito_e_BackOffice(inqueritoSelecionado?.id)"
                                class="btn btn-success btn-sm">teste
                            </!--button-->
                        </div>

                    </div>
                </form>
            </div>





        </div>

    </div>
</div>



<!-- Pergunta 15.1 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Área total da fazenda (ha):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="area_total_fazenda"
                                name="area_total_fazenda" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('area_total_fazenda')?.invalid && angForm.get('area_total_fazenda')?.touched }"
                                type="number" inputmode="numeric" pattern="[0-9]*">

                            <div class="invalid-feedback"
                                *ngIf="angForm.get('area_total_fazenda')?.invalid && angForm.get('area_total_fazenda')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!div-->

<!-- Pergunta 15.2 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Área de cultivo pelo PN (ha):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="area_cultivo_pn"
                                name="area_cultivo_pn" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('area_cultivo_pn')?.invalid && angForm.get('area_cultivo_pn')?.touched }"
                                type="number" inputmode="numeric" pattern="[0-9]*">

                            <div class="invalid-feedback"
                                *ngIf="angForm.get('area_cultivo_pn')?.invalid && angForm.get('area_cultivo_pn')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.3 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label style="width: 240px;">Recursos próprios (AOA):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="recursos_proprios"
                                name="recursos_proprios" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('recursos_proprios')?.invalid && angForm.get('recursos_proprios')?.touched }"
                                type="number">


                            <div class="invalid-feedback"
                                *ngIf="angForm.get('recursos_proprios')?.invalid && angForm.get('recursos_proprios')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.4 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Financiamento PDAC (AOA):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="financiamento"
                                name="financiamento" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('financiamento')?.invalid && angForm.get('financiamento')?.touched }"
                                type="number">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('financiamento')?.invalid && angForm.get('financiamento')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.5 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Financiamento bancário (AOA):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="financiamento_bancario"
                                name="financiamento_bancario" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('financiamento_bancario')?.invalid && angForm.get('financiamento_bancario')?.touched }"
                                type="number">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('financiamento_bancario')?.invalid && angForm.get('financiamento_bancario')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!div-->

<!-- Pergunta 15.6 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value && inqueritoSelecionado?.que_tipo_de_negocio_esta === 'Productor'"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Histórico de produção: que culturas foram produzidas no
                                ano agrícola de há dois anos?</label>
                        </div>
                        <div>

                            <select class="form-select form-select-sm" formControlName="historico_producao_2_anos"
                                name="historico_producao_2_anos" style="width:350px;" required
                                aria-label="Default select example"
                                [ngClass]="{ 'is-invalid': angForm.get('historico_producao_2_anos')?.invalid && angForm.get('historico_producao_2_anos')?.touched }">
                                <option value="" disabled selected hidden></option>
                                <option *ngFor="let prod of historico_de_producao_" [value]="prod">{{prod}}</option>
                            </select>

                            <div class="invalid-feedback"
                                *ngIf="angForm.get('historico_producao_2_anos')?.invalid && angForm.get('historico_producao_2_anos')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.7 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value && angForm.get('historico_producao_2_anos')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Área de [cultura] cultivada á dois anos (ha):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="area_cultura_2_anos"
                                name="area_cultura_2_anos" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('area_cultura_2_anos')?.invalid && angForm.get('area_cultura_2_anos')?.touched }"
                                type="number">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('area_cultura_2_anos')?.invalid && angForm.get('area_cultura_2_anos')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value && angForm.get('historico_producao_2_anos')?.value"
                        class="d-flex justify-content-between mx-auto mb-3" style="width: 80%;">
                        <div>
                            <label>Produção de [cultura] obtida á dois anos (ton):</label>
                        </div>
                        <div>

                            <input class="form-control form-control-sm" formControlName="producao_cultura_2_anos"
                                name="producao_cultura_2_anos" style="width: 150px; margin-right: 200px;" required
                                [ngClass]="{ 'is-invalid': angForm.get('producao_cultura_2_anos')?.invalid && angForm.get('producao_cultura_2_anos')?.touched }"
                                type="number" inputmode="numeric" pattern="[0-9]*">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('producao_cultura_2_anos')?.invalid && angForm.get('producao_cultura_2_anos')?.touched">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Estudo de viabilidade: ( .pdf ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="estudo_de_viabilidade" (change)="onSelectedFile1($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="estudo_de_viabilidade"
                                class="form-control" id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('estudo_de_viabilidade')?.invalid && (angForm.get('estudo_de_viabilidade')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('estudo_de_viabilidade')?.invalid && (angForm.get('estudo_de_viabilidade')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Termo de compromisso assinado: ( .pdf ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="termo_compromisso_assinado" (change)="onSelectedFile2($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="termo_compromisso_assinado"
                                class="form-control" id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('termo_compromisso_assinado')?.invalid && (angForm.get('termo_compromisso_assinado')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('termo_compromisso_assinado')?.invalid && (angForm.get('termo_compromisso_assinado')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Projeto RIV completo: ( .pdf ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="projeto_riv_completo" (change)="onSelectedFile3($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="projeto_riv_completo"
                                class="form-control" id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('projeto_riv_completo')?.invalid && (angForm.get('projeto_riv_completo')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('projeto_riv_completo')?.invalid && (angForm.get('projeto_riv_completo')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">FTAS: ( .pdf ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="ftas" (change)="onSelectedFile4($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="ftas" class="form-control"
                                id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('ftas')?.invalid && (angForm.get('ftas')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('ftas')?.invalid && (angForm.get('ftas')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Lista de trabalhadores (nome/idade/sexo): ( .pdf
                                ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="lista_de_trabalhadores" (change)="onSelectedFile5($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="lista_de_trabalhadores"
                                class="form-control" id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('lista_de_trabalhadores')?.invalid && (angForm.get('ftas')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('lista_de_trabalhadores')?.invalid && (angForm.get('lista_de_trabalhadores')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Documentos administrativos: ( .pdf ou .docx
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="documentos_administrativos" (change)="onSelectedFile6($event)"
                                accept=".pdf,.doc,.docx,.jpeg,.jpg .txt" formControlName="documentos_administrativos"
                                class="form-control" id="customFile" style="width: 350px;"
                                [ngClass]="{ 'is-invalid': angForm.get('documentos_administrativos')?.invalid && (angForm.get('documentos_administrativos')?.touched) }">
                            <div class="invalid-feedback"
                                *ngIf="angForm.get('documentos_administrativos')?.invalid && (angForm.get('documentos_administrativos')?.touched)">
                                * Campo obrigatório.
                            </div>
                        </div>
                    </!div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Ficheiro .riv: ( .riv
                                )</label>
                        </div>
                        <div>
                            <input type="file" name="ficheiro_riv" (change)="onSelectedFile7($event)" accept=".riv"
                                formControlName="ficheiro_riv" class="form-control" id="customFile"
                                style="width: 350px;">
                        </div>
                    </!--div-->

<!-- Pergunta 15.8.1 -->
<!--div class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;"
                        *ngIf="angForm.get('fim_verificacao')?.value">
                        <div>
                            <label class="form-label" for="customFile">Outros documentos (fichas técnicas, facturas): (
                                .docx, .jpeg ou .pdf
                                )</label>
                        </div>
                        <div>
                            <input type="file" multiple name="outros_documentos" (change)="onSelectedFile8($event)"
                                accept=".docx, .jpeg, .pdf" formControlName="outros_documentos" class="form-control"
                                id="customFile" style="width: 350px;">
                        </div>
                    </!--div-->

<!-- Pergunta 16 -->
<!--div *ngIf="angForm.get('fim_verificacao')?.value"
                        class="justify-content-between mx-auto d-flex mb-3" style="width: 80%;">
                        <div>
                            <label for="data_pn_entregue_ao_pdac">Data PN entregue ao PDAC:</label>
                        </div>
                        <div>
                            <input type="date" formControlName="data_pn_entregue_ao_pdac"
                                name="data_pn_entregue_ao_pdac" max="{{maxDate | date:'yyyy-MM-dd'}}"
                                [value]="today | date:'yyyy-MM-dd'" style="width: 150px; margin-right: 200px;"
                                class="form-control form-control-sm" (change)="checkDates()">
                        </div>
                    </!--div-->