.card-size{
    width: 80px;
    height: 80px;
   // margin-left: 15%;
    img{
        margin-top: -25%;
        margin-left: -25%;
        margin-right: 5%;
    }

    margin-left: 5%;
    margin-right: 5%;
}

.hello-user{
    //margin-left: 5%;
    //margin-top: 2.5%;
    h5{
        font-weight: bold;
        color: #262626;
    }

    margin-left: 5%;
    margin-right: 5%;
}

.font-user-list{
        font-weight: bold;
        color: #262626;
        font-size: 11px;
        text-transform: capitalize;
}

.word-breack {
    width: 94px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.word-breack-users{
    word-break: break-all;
    width: 100px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
   // word-break: break-word;
}

.card-user{
    margin-left: 5%;
    margin-right: 5%;
    height: 85px;
    transition: all 0.6s;
    cursor: pointer;
}

.card-user:hover{
    //background: #dddcdc;
    -webkit-filter: drop-shadow(0px 8px 5px rgba(0,0,0,.2));
    filter: drop-shadow(0px 8px 5px rgba(0,0,0,.2));
}

.btn-add-user{
    background-color: #ffac44; 
    text-transform: capitalize; 
    color: #262626;
    margin-left: 5%;
    margin-right: 5%;
}

.btn-exit{
    //background-color: #ffac44; 
    text-transform: capitalize; 
    color: #262626;
    margin-left: 5%;
    margin-right: 5%;
}