<!-- FIRST SECTION -->
<div class="container d-flex justify-content-between ">
    <div class="hello-user">
        <h5 class="font-user word-breack mt-3">Bem-vindo!</h5>
    </div>

    <div class="d-block text-center mt-3">
        <button routerLink="/usuario" routerLinkActive="active" type="button"
            style="background-color: #F2F2F2; border-color: #F2F2F2;" class="btn-outline-dark btn-rounded btn"><i
                style="color: black;" class="fas fa-user-alt fa-3x"></i></button>
    </div>
</div>
<!-- FIRST SECTION -->
<hr>

<!-- THIRD SECTION -->
<div class="container mb-3">
    <div class="hello-user">
        <h5 class="word-breack">Proponentes</h5>
    </div>

    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-block">
                <!--div class="align-self-center">
                    <i class="far fa-user text-success fa-sm"></i>
                </!--div-->
                <div class="row">
                    <h3 class="text-black font-user-list"> {{proponents[0]?.['s2gp/s2g1q1/prop_nome'].substring(0,
                        36).toUpperCase()}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-block">
                <!--div class="align-self-center">
                    <i class="far fa-user text-success fa-sm"></i>
                </!--div-->
                <div class="row">
                    <h3 class="text-black font-user-list"> {{proponents[1]?.['s2gp/s2g1q1/prop_nome'].substring(0,
                        36).toUpperCase()}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-block">
                <!--div class="align-self-center">
                    <i class="far fa-user text-success fa-sm"></i>
                </!--div-->
                <div class="row">
                    <h3 class="text-black font-user-list"> {{proponents[2]?.['s2gp/s2g1q1/prop_nome'].substring(0,
                        36).toUpperCase()}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- THIRD SECTION -->
<hr style="color: #F2F2F2;">
<!-- FOURTH SECTION -->
<div class="container mb-3">
    <div class="d-grid gap-2 mx-auto mb-3">
        <button class="btn btn-add-user btn-sm" type="button" [routerLink]="['/usuario']"
            routerLinkActive="router-link-active">Adicionar Usuário</button>
    </div>
    <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-danger btn-exit btn-sm" type="button" (click)="logout()">Terminar sessão</button>
    </div>
</div>
<!-- FOURTH SECTION -->