<!-- FIRST SECTION -->
<div class="container mt-4 mb-4 d-flex">
    <div class="hello-user">
        <h5 class="font-user word-breack">Olá, José Sandele</h5>
    </div>
    <div class="card card-size">
        <div class="card-body d-flex flex-row">
            <img src="../../../assets/avatar_.PNG" class="rounded-circle me-3" height="50px" width="50px"
                alt="avatar" />
        </div>
    </div>
</div>
<!-- FIRST SECTION -->

<!-- SECOND SECTION -->
<div class="container">
    <div class="hello-user">
        <h5 class="font-user-list word-breack">Usuários</h5>
    </div>
</div>
<!-- SECOND SECTION -->

<!-- THIRD SECTION -->
<div class="container mb-3">
    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
                <div class="align-self-center">
                    <i class="far fa-user text-success fa-2x"></i>
                </div>
                <div>
                    <h3 class="text-black font-user-list word-breack-users">Kadeu Pimenta</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
                <div class="align-self-center">
                    <i class="far fa-user text-success fa-2x"></i>
                </div>
                <div>
                    <h3 class="text-black font-user-list word-breack-users">Paulo Trindade</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-user mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
                <div class="align-self-center">
                    <i class="far fa-user text-success fa-2x"></i>
                </div>
                <div>
                    <h3 class="text-black font-user-list word-breack-users">Edson Barbosa</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- THIRD SECTION -->

<!-- FOURTH SECTION -->
<div class="container mb-3">
    <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-add-user" type="button">Adicionar Usuário</button>
      </div>
</div>
<!-- FOURTH SECTION -->