<div class="menu-content mb-4">
    <div class="row">
        <div class="col-12">
            <div class="logo py-4">
                <a href="#"><img src="../../../assets/logo_.png" height="50"></a>
            </div>
        </div>
    </div>

    <div class="menu-items mt-4" id="container">
        <div class=" justify-content-between btns ">
            <div class="d-block text-center">
                <button routerLink="/dashboard" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-home fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Dashboard</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/usuario" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-user-alt fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Usuário</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns ">
            <div class="d-block text-center">
                <button routerLink="/interesses" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-leaf fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">M. Interesse</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/cadeiadevalor" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-chart-line fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Cadeia de valor</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns ">
            <div class="d-block text-center">
                <button routerLink="/inquiridor" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-marker fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Inquiridor</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/inquerito" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-tasks fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Inquérito</span></div>
            </div>
        </div>

        <div class=" justify-content-between btns">
            <div class="d-block text-center">
                <button routerLink="/departamento" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-sitemap fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Departamento</span></div>
            </div>
            <div class="d-block text-center">
                <button routerLink="/proponentes" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-map-signs fa-2x"></i></button>
                <div><span style="font-size:xx-small; color: black;">Proponente</span></div>
            </div>
        </div>
    </div>


    <!--div class="menu-items">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-3" role="group" aria-label="First group">
                <button routerLink="/dashboard" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-home fa-2x"></i></button>
            </div>
            <div class="btn-group m-3" role="group" aria-label="Second group">
                <button routerLink="/usuario" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-user-alt fa-2x"></i></button>
            </div>
        </div>
        <div><span class="title-items">Dashboard</span><span class="title-items-user">Usuário</span></div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-3" role="group" aria-label="First group">
                <button routerLink="/interesses" routerLinkActive="active" type="button" class="btn"><i
                        class="fas fa-leaf fa-2x"></i></button>
            </div>
            <div class="btn-group m-3" role="group" aria-label="Second group">
                <button routerLink="/departamento" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-sitemap fa-2x"></i></button>
            </div>
        </div>
        <div><span class="title-items-ManI">Man. Interesses</span><span class="title-items-Dep">Departamento</span>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-3" role="group" aria-label="First group">
                <button routerLink="/cadeiadevalor" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-chart-line fa-2x"></i></button>
            </div>
            <div class="btn-group m-3" role="group" aria-label="Second group">
                <button routerLink="/inquiridor" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-user-tie fa-2x"></i></button>
            </div>
            <div class="btn-group m-3" role="group" aria-label="Second group">
                <button routerLink="/instituicoes" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-hotel fa-2x"></i></button>
            </div>
        </div>
        <div><span class="title-items-CadV">Cadeia de valores</span><span class="title-items-Inst">Inquiridor</span>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-3" role="group" aria-label="First group">
                <button routerLink="/andamentomanifes" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-hand-holding-heart fa-2x"></i></button>
            </div>
        </div>
        <div>
            <span class="title-item-AndM">And. Manifestações</span><span class="title-items-Inquir">Inquiridor</span>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-3" role="group" aria-label="First group">
                <button routerLink="/inquerito" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-tasks fa-2x"></i></button>
            </div>
            <div class="btn-group m-3" role="group" aria-label="Second group">
                <button routerLink="/proponentes" routerLinkActive="active" type="button" class="btn "><i
                        class="fas fa-male fa-3x"></i></button>
            </div>
        </div>
        <div><span class="title-item-Inq">Inquérito</span><span class="title-items-prop">Proponente</span></div>
    </div-->

</div>