
.logo{
    text-align: start;
    margin-left: 2.5rem;
    margin-bottom: 1.5%;
}

.mat-icon{
    vertical-align: center;
}

.btn{
    //height: 60px;
    padding: 17px;
    color: #F2F2F2;
    background-color: #262626 !important;
}

button:hover{
    background: #2CBF04 !important;
}

.active{
   background: #2CBF04 !important;
}

.btn-toolbar{
    margin-left: 2.5rem;
    color: #F2F2F2 !important;
}

.title-items{
    margin-left: 22%;
    font-size: 11px;
    font-weight: bold;
}

.title-items2{
    margin-left: 11%;
    font-size: 11px;
    font-weight: bold;
}

.title-items-user{
    margin-left: 17%;
    font-size: 11px;
    font-weight: bold;
}

.title-items-ManI{
    margin-left: 16%;
    font-size: 11px;
    font-weight: bold;
}

.title-items-Dep{
    margin-left: 7.5%;
    font-size: 11px;
    font-weight: bold;
}

.title-items-CadV{
    margin-left: 15%;
    font-size: 11px;
    font-weight: bold;
}

.title-item-AndM{
    margin-left: 13%;
    font-size: 11px;
    font-weight: bold;   
}

.title-items-Inst{
    margin-left: 7%;
    font-size: 11px;
    font-weight: bold;
}

.title-items-Inquir{
    margin-left: 6%;
    font-size: 11px;
    font-weight: bold;
}

.title-item-Inq{
    margin-left: 23%;
    font-size: 11px; 
    font-weight: bold; 
}

