<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer class="sidebar" mode="side" position="end" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- Man interesses full content-->
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <!-- Man interesses list-->
        <div class="row mt-4" style="margin-left: 8%; margin-right: -9%;">
            <div class="col-4 esp1">
                <h5 class="list-user-text text-black mb-4">Inquérito</h5>
            </div>
            <div class="col-8">
                <div class="row justify-content-between px-md-1">
                    <div class="col-2 esp"></div>
                    <div class="col-10">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-light text-black"
                                    style="text-transform: capitalize;"><i class="fas fa-print"></i> Imprimir</button>
                            </div>
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light text-black"
                                    style="text-transform: capitalize;">Exportar</button>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                                <button data-bs-toggle="modal" href="#exampleModalToggle" type="button"
                                    class="btn btn-success btn-top"><i class="fas fa-plus-square text-black"></i> Add
                                    Inquérito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Man interesses list-->

        <!-- Second section or Man-interesse table -->
        <div class="row mt-3 linhas1" style="margin-left: 1%; margin-right: 1%;">
            <div class="row mt-2" style="margin-left: 25%; margin-right:25%; display: block;">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-industry"></i> Tipo/Produção</button>
                    </div>
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-map-marker-alt"></i> Província</button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                class="fas fa-plus-square text-black"></i> Estado</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between px-mb-1 mt-3 mb-1">
                <div class="col-6 text-black">
                    <h5 style="font-size: 10px;  margin-left: 5%;">Mostrando 4 de 100 usuários</h5>
                </div>
                <div class="col-6 text-black">
                    <h5 style="font-size: 10px; margin-left: 70%;">Resultado por página</h5>
                </div>
            </div>
            <div class="col-2 text-black text-center mb-2 d-none">Nome</div>
            <div class="col-2 text-black text-center mb-2 d-none">Departamento</div>
            <div class="col-2 text-black text-center mb-2 d-none">Função</div>
            <div class="col-2 text-black text-center mb-2 d-none">isAdmin</div>
            <div class="col-2 text-black text-center mb-2 d-none">UserName</div>
            <div class="col-2 text-black text-center mb-2 d-none">Password</div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<!-- Primeiro modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Inquérito</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading text-center" style="font-weight:500;"> <i
                            class="fas fa-info-circle d-none"></i>
                        Recolha de Informações Para a
                        Elaboração dos Planos de
                        Negócios <p class="d-none"> Corredor B - Primeira Visita </p>
                    </h4> <br>
                    <p>O Formulário de Inquérito está agrupado em quatro fases, de entre as quais temos:</p>
                    <hr>
                    <p class="mb-0">1 - Descrição do Proponente <br> 2 - Descrição da Fazenda <br> 3 - Resultados
                        Financeiros dos últimos anos <br> 4 - Plano de Negócio que se pretende implementar </p>
                </div>

                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading text-center" style="font-weight:500;">
                        Inquiridor:
                    </h4>
                    <div class="mb-4">
                        <select class="form-select form-select-sm mb-3" [(ngModel)]="responsible" name="responsible"
                            aria-label="Default select example">
                            <option>Inquiridor name</option>
                        </select>
                    </div>
                    <p class="mb-0" style="font-size: 11px;"><i class="fas fa-info-circle"></i> Caso o seu nome não
                        esteja na lista, por favor faça o seu
                        cadastramento como Inquiridor <a type="button" data-bs-dismiss="modal"
                            [routerLink]="['/inquiridor']" routerLinkActive="router-link-active">aqui</a>!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Segundo modal -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Descrição do Proponente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">

                <div class=" justify-content-between d-flex ">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome da
                            empresa/fazenda/cooperativa:</label>
                        <input type="text" [(ngModel)]="company_farm_cooperative_name"
                            class="form-control form-control-sm" style="width: 340px;" id="exampleFormControlInput1"
                            placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">NlF da
                            empresa/fazenda/cooperativa:</label>
                        <input type="number" [(ngModel)]="company_farm_cooperative_nif"
                            class="form-control form-control-sm" style="width: 340px;" id="exampleFormControlInput2"
                            placeholder="">
                    </div>
                </div>

                <div class="justify-content-between d-flex">
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label">Nome do candidato/representante
                            (Proponente) legal:</label>
                        <input type="text" [(ngModel)]="candidate_name" class="form-control form-control-sm"
                            style="width: 340px;" id="exampleFormControlInput3" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput4" class="form-label">Função do candidato na Fazenda:</label>
                        <input type="text" [(ngModel)]="candidate_function_on_farm" class="form-control form-control-sm"
                            style="width: 340px;" id="exampleFormControlInput4" placeholder="">
                    </div>
                </div>

                <div class="justify-content-between d-flex">
                    <div class="mb-3">
                        <label for="exampleFormControlInput5" class="form-label">Formação académica do
                            proponente:</label>
                        <input type="text" [(ngModel)]="academic_education_candidate"
                            class="form-control form-control-sm" style="width: 340px;" id="exampleFormControlInput5"
                            placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput5" class="form-label"> Principal actividade profissional do
                            proponente:
                        </label>
                        <input type="text" [(ngModel)]="proposer_main_professional_activity"
                            class="form-control form-control-sm" style="width: 340px;" id="exampleFormControlInput5"
                            placeholder="">
                    </div>
                </div>

                <div class="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput5" class="form-label">Presença continua na fazenda:</label>
                        <div class="m-2" *ngFor="let item of opcoes">
                            <input type="radio" name="opcoes" [value]="item.name" (change)="ChangeHandler($event)"
                                #continuous_presence_on_farm>
                            <i> {{item.name}} </i>
                        </div>
                    </div>
                    <div class="form-floating" *ngIf="selecionado == 'Não' ">
                        <textarea [(ngModel)]="continuous_presence_on_farm_if_no_estimatepresence" class="form-control"
                            placeholder="Comente aqui" name="observation" id="floatingTextarea"></textarea>
                        <label for="exampleFormControlInput5" class="form-label">Estimativa da
                            presença:</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle3"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Terceiro modal -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Descrição do Proponente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">

                <div class=" justify-content-between d-flex ">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Idade do candidato/representante
                            legal:</label>
                        <input type="number" [(ngModel)]="candidate_age" class="form-control form-control-sm" style="width: 80px;"
                            id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Bilhete de identidade Nº:</label>
                        <input type="number" [(ngModel)]="identity_card_numer" class="form-control form-control-sm" style="width: 350px;"
                            id="exampleFormControlInput1" placeholder="">
                    </div>
                </div>

                <div class="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput5" class="form-label">Idade do proponente maior de 60 anos e
                            tem filhos para assumir?</label>
                        <div class="m-2" *ngFor="let item of opcoes">
                            <input type="radio" name="opcoes" [value]="item.name" (change)="ChangeHandler($event)"
                                #candidate_age_if_over_sixty_has_childen>
                            <i> {{item.name}} </i>
                        </div>
                    </div>
                    <div class="form-floating mb-3" *ngIf="selecionado == 'Sim' ">
                        <textarea [(ngModel)]="has_children_if_yes" class="form-control" placeholder="Comente aqui"
                            id="floatingTextarea"></textarea>
                        <label for="exampleFormControlInput5" class="form-label">Nome, Idade, Telefone e Formação
                            académica do filho</label>
                    </div>
                </div>

                <div class=" justify-content-between d-flex ">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Número de telefone:</label>
                        <input type="number" [(ngModel)]="phone_number" class="form-control form-control-sm" style="width: 340px;"
                            id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="">
                        <label for="exampleFormControlInput1" class="form-label">Endereço permanente:</label>
                        <input type="number" [(ngModel)]="permanent_address" class="form-control form-control-sm" style="width: 340px;"
                            id="exampleFormControlInput1" placeholder="">
                    </div>
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle4"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Quarto modal -->
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 4</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle3"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle5"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Quinto modal -->
<div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 5</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle4"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle6"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Sexto modal -->
<div class="modal fade" id="exampleModalToggle6" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 6</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle5"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle7"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Sétimo modal -->
<div class="modal fade" id="exampleModalToggle7" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 7</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle6"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle8"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Oitavo modal -->
<div class="modal fade" id="exampleModalToggle8" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 8</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle7"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle9"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Nonu modal -->
<div class="modal fade" id="exampleModalToggle9" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 9</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle8"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle10"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- Décimo modal -->
<div class="modal fade" id="exampleModalToggle10" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 10</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle9"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle11"
                    data-bs-toggle="modal">Próximo</button>
            </div>
        </div>
    </div>
</div>

<!-- last modal -->
<div class="modal fade" id="exampleModalToggle11" aria-hidden="true" aria-labelledby="10" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel10">Modal 11</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-sm btn-primary" data-bs-target="#exampleModalToggle10"
                    data-bs-toggle="modal">Voltar</button>
                <button class="btn btn-sm btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>