<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control mb-2" />
        <label mdbLabel class="form-label" for="form1">Inquérito</label>
    </mdb-form-control>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm">Guardar</button>
</div>