<!-- Just an image ->
<nav-- class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.jpg" height="55" alt="MDB Logo" loading="lazy" />
      </a>
  </div>
</nav-->


<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.jpg" height="55" alt="MDB Logo" loading="lazy" />
      </a>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<!-- Background image -->
<div id="intro-example" class="p-5 text-center bg-image border-0" style="background-image: url('../../assets/fundo.jpg');
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="mask cover" style="background-color: rgba(0, 0, 0, 0.9);">

    <div class="row p-5" style="margin-top: 13%; ">
      <div class="col-md-8">logomax</div>

      <div class="col-md-4">
        <div class="card text-white bg-card mb-2">
          <div class="card-header">Login</div>
          <div class="card-body">
            <div class="input-group mb-3">
              <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                <i class="far fa-envelope"></i>
              </a>
              <input type="email" class="form-control" placeholder="" aria-label="Example text with button addon"
                aria-describedby="button-addon1" />
            </div>
            <div class="input-group mb-3">
              <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                <i class="fas fa-lock"></i>
              </a>
              <input type="password" class="form-control" placeholder="" aria-label="Example text with button addon"
                aria-describedby="button-addon2" />
            </div>

            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6" style="font-size: 10px;">Esqueceu-se da palavra passe?</div>
            </div>

          </div>
        </div>
        <button type="button" class="btn btn-color">Entrar</button>
      </div>

    </div>


  </div>
  <!-- Background image -->