<!-- Just an image ->
<nav-- class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.jpg" height="55" alt="MDB Logo" loading="lazy" />
      </a>
  </div>
</nav-->


<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand logo-in-top" href="#">
        <img src="../../../assets/logo_.png" height="55" alt="MDB Logo" loading="lazy" />
      </a>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<!-- Background image -->
<div id="intro-example" class="p-5 text-center bg-image border-0" style="background-image: url('../../assets/fundo.jpg');
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="mask cover" style="background-color: rgba(0, 0, 0, 0.880);">

    <div class="row p-5 fundo-verde">

      <div class="col-md-8"> <img src="../../../assets/logo_.png" height="250" class="main-logo" alt="MDB Logo"
          loading="lazy" /></div>

      <div class="col-md-4">
        <div class="card text-white bg-card mb-1 w-60">
          <div class="card-header border-0"><!--i class="fas fa-user-circle fa-8x avatar"></i-->Login</div>
          <div class="card-body p-4">
            <div class="input-group input-group-lg mb-3">
              <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                <i class="far fa-envelope"></i>
              </a>
              <input type="email" class="form-control" placeholder="" aria-label="Example text with button addon"
                aria-describedby="button-addon1" />
            </div>
            <div class="input-group input-group-lg mb-3">
              <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                <i class="fas fa-lock"></i>
              </a>
              <input type="password" class="form-control" placeholder="" aria-label="Example text with button addon"
                aria-describedby="button-addon2" />
            </div>

            <div class="row" style="margin-top: 8%;">
              <div class="col-md-6"></div>
              <div class="col-md-6 forgot-pass" style="font-size: 12px; color: #F2F2F2;"> <a [routerLink]="['/recpass']"
                  routerLinkActive="router-link-active">Esqueceu-se da palavra passe?</a></div>
            </div>

          </div>
        </div>
        <div><button type="button" class="btn btn-color btn-lg" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Entrar</button></div>
      </div>

    </div>


  </div>
  <!-- Background image -->