<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand logo-in-top" href="#">
        <img src="../../../assets/logo_.png" height="55" alt="MDB Logo" loading="lazy" />
      </a>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<!-- Background image -->
<div id="intro-example" class="p-5 text-center bg-image border-0" style="background-image: url('../../assets/fundo.jpg');
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="mask cover" style="background-color: rgba(0, 0, 0, 0.800); overflow-y: auto;">

    <div class="row p-5 fundo-verde">

      <div class="col-md-8"> <img src="../../../assets/logo_.png" height="250" class="main-logo" alt="MDB Logo"
          loading="lazy" /></div>

      <div class="col-md-4">

        <div class="card text-white bg-card mb-1 w-60">
          <div class="card-header border-0 mt-2" style="text-transform:uppercase; font-weight:bold;">
            <!--i class="fas fa-user-circle fa-8x avatar"></i-->Login
          </div>
          <div class="card-body p-4">

            <form [formGroup]="angForm" (ngSubmit)="LOGIN_(angForm)">

              <div class="input-group input-group-lg mb-3">
                <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                  <i class="far fa-envelope"></i>
                </a>
                <input type="email" class="form-control" placeholder="" formControlName="username" name="email"
                  aria-label="Example text with button addon" aria-describedby="button-addon1" />
              </div>

              <div class="input-group input-group-lg mb-3">
                <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                  <i class="fas fa-lock"></i>
                </a>
                <input type="password" class="form-control" placeholder="" formControlName="password" name="password"
                  aria-label="Example text with button addon" aria-describedby="button-addon2" />
              </div>

              <input type="submit" name="submit" value="Entrar" class="btn btn-success btn-sm mt-2"
                style="width: 200px;">
            </form>

            <div class="forgot-pass mt-4 text-center" style="font-size: 11px; color: #F2F2F2;"> <a
                data-bs-toggle="modal" href="#exampleModalToggle">Esqueceu-se da palavra passe?</a>
            </div>

            <!--  modal -->
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
              tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 d-none" id="exampleModalToggleLabel" style="color:black;">Recuperar Password
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <div class="input-group input-group-lg mb-2">
                      <a class="btn text-white" style="background-color: #005E00;" href="#!" role="button">
                        <i class="far fa-envelope"></i>
                      </a>
                      <input type="email" class="form-control" placeholder="Digite o seu Email" [(ngModel)]="username"
                        aria-label="Example text with button addon" aria-describedby="button-addon1" />
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button (click)="forgtPass()" class="btn btn-sm btn-success" [disabled]="!username"
                      data-bs-dismiss="modal">Recuperar</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <!-- Background image -->