<mat-drawer-container>
    <mat-drawer mode="side" class="d-none" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- prop full content-->
    <mat-drawer-content class="container">
        <app-header class="d-none" (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <!-- prop list-->
        <div class="row mt-4">
            <div class="col-4 esp1">
                <h5 class="list-user-text text-black mb-4 m-4">{{proponente['s2gp/s2g1q1/prop_nome']}}</h5>
            </div>
            <div class="col-8">
                <div class="row justify-content-between px-md-1">
                    <div class="col-8 esp"></div>
                    <div class="col-4">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                                <button type="button" printSectionId="print-section-list-prop" ngxPrint
                                    printTitle="Proponente" styleSheetFile="assets/print.scss" [useExistingCss]="true"
                                    class="btn btn-light text-black" style="text-transform: capitalize;"><i
                                        class="fas fa-print"></i> Imprimir</button>
                            </div>
                            <div class="btn-group btn-group-sm me-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light text-black"
                                    style="text-transform: capitalize;">Exportar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- prop list-->

        <!-- List proponentes -->
        <div class="row mt-3" style="margin-left: 1%; margin-right: 1%;">
            <div class="table-responsive" id="print-section-list-prop">
                <table class="table table-sm table-bordered border-success">
                    <thead class="linhas2">
                        <tr>
                            <th scope="col" class="text-black">Nome</th>
                            <th scope="col" class="text-black">Empresa</th>
                            <th scope="col" class="text-black">Nif</th>
                            <th scope="col" class="text-black">Categoria</th>
                            <th scope="col" class="text-black">Representante</th>
                            <th scope="col" class="text-black">Telemovel</th>
                            <th scope="col" class="text-black">Província</th>
                            <th scope="col" class="text-black">Municipio</th>
                            <th scope="col" class="text-black">Data de submissão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{proponente['prop_nome']}} </td>
                            <td>{{proponente['prop_empresa']}}</td>
                            <td>{{proponente['prop_nif']}}</td>
                            <td>{{proponente['prop_categ']}}</td>
                            <td>{{proponente['rep_nome']}}</td>
                            <td>{{proponente['prop_telemovel']}}</td>
                            <td>{{proponente['prop_provincia']}}</td>
                            <td>{{proponente['rep_municipio']}}</td>
                            <td> {{proponente['prop_subm'] | date:"dd/MM/yyyy"}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- List proponentes -->

    </mat-drawer-content>
</mat-drawer-container>