<mat-drawer-container>
    <mat-drawer mode="side" class="d-none" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- prop full content-->
    <mat-drawer-content class="container-fluid" style="margin-left: 1%; margin-right: 1%;">
        <app-header class="d-none" (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="d-flex mt-4 userlist justify-content-between" style="margin-left: 1%; margin-right: 2%;">
            <div class=" esp1">
                <h5 class="list-user-text text-black mb-4 m-4">M. Interesse:</h5>
            </div>

            <div class=" justify-content-between px-md-1">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
                        <button type="button" printSectionId="print-section-list-prop" ngxPrint printTitle="Proponentes"
                            styleSheetFile="assets/print.scss" [useExistingCss]="true" class="btn btn-light text-black"
                            style="text-transform: capitalize;"><i class="fas fa-print"></i> Imprimir</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dados do proponentes -->
        <div class="container" style="margin-left: 1%; margin-right: 1%;" id="print-section-list-prop">
            <div>
                <table class="table table-sm table-bordered border-success">
                    <thead class="linhas2">
                        <tr>
                            <th scope="col" class="text-black">Nome</th>
                            <th scope="col" class="text-black">Empresa</th>
                            <th scope="col" class="text-black">NIF</th>
                            <th scope="col" class="text-black">Categoria</th>
                            <th scope="col" class="text-black">Representante</th>
                            <th scope="col" class="text-black">Email</th>
                            <th scope="col" class="text-black">Telemovel</th>
                            <th scope="col" class="text-black">Província</th>
                            <th scope="col" class="text-black">Municipio</th>
                            <th scope="col" class="text-black">Data de submissão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{proponente['prop_nome']}} </td>
                            <td>{{devolver_nome_empresa(proponente['prop_empresa'])}}</td>
                            <td>{{proponente['prop_nif']}}</td>
                            <td>{{devolver_nome_categoria(proponente['prop_categ'])}}</td>
                            <td>{{proponente['rep_nome']}}</td>
                            <td>{{proponente['prop_email']}}</td>
                            <td>{{proponente['prop_telemovel']}}</td>
                            <td>{{proponente['prop_provincia']}}</td>
                            <td>{{devolver_nome_municipio(proponente['rep_municipio'])}}</td>
                            <td> {{proponente['prop_subm'] | date:"dd/MM/yyyy"}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div>
                <!--div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Alvará comercial</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        [(ngModel)]="proponente['alvara']" aria-describedby="inputGroup-sizing-sm">
                </!--div-->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Coordenadas</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        [(ngModel)]="proponente['coordenadas']" aria-describedby="inputGroup-sizing-sm" readonly
                        [attr.disabled]="true">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Objectivo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        [(ngModel)]="proponente['objectivos']" aria-describedby="inputGroup-sizing-sm" readonly
                        [attr.disabled]="true">
                </div>
            </div>

        </div>
        <!-- List proponentes -->

    </mat-drawer-content>
</mat-drawer-container>