.select{
    margin-left: 2%;
    margin-right: 2%;
    background-color: #eaeaea;
}

.select-group{
    margin-left: 5%;
    margin-right: 5%
    
}

.modal-footer{
    margin-left: 12%;
    margin-right: 12%;
    border: 0;
}

.select-prov{
    height: 29px;
    width: 150px;
}
